<div className='row'>
  <div className='col-md-6'>
    <Button variant='primary' isWorking={false}>Demo</Button>
    <Button variant='secondary' isWorking={false}>Demo</Button>
    <Button variant='transparent' isWorking={false}>Demo</Button>
    <Button variant='success' isWorking={false}>Demo</Button>
    <Button variant='danger' isWorking={false}>Demo</Button>
  </div>
  <div className='col-md-6'>
    <Button variant='primary' rounded isWorking={false}>Demo</Button>
    <Button variant='secondary' rounded isWorking={false}>Demo</Button>
    <Button variant='transparent' rounded isWorking={false}>Demo</Button>
    <Button variant='success' rounded isWorking={false}>Demo</Button>
    <Button variant='danger' rounded isWorking={false}>Demo</Button>
  </div>
  <div className='col-md-6'>
    <Button variant='primary' block rounded isWorking={false}>Demo</Button>
    <Button variant='secondary' block rounded isWorking={false}>Demo</Button>
    <Button variant='transparent' rounded faIcon="fa-twitter" block isWorking={false}>Demo</Button>
    <Button variant='success' block rounded isWorking={false}>Demo</Button>
    <Button variant='danger' block rounded isWorking={false}>Demo</Button>
  </div>
  <div className='col-md-6'>
    <Button variant='primary' block isWorking={false}>Demo</Button>
    <Button variant='secondary' block isWorking={false}>Demo</Button>
    <Button variant='transparent' faIcon="fa-twitter" block isWorking={false}>Demo</Button>
    <Button variant='success' block isWorking={false}>Demo</Button>
    <Button variant='danger' block isWorking={false}>Demo</Button>
  </div>
</div>