@import './../../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import './../../node_modules/swiper/swiper.scss';
@import './../../node_modules/react-date-picker/dist/DatePicker.css';
@import './../../node_modules/react-calendar/dist/Calendar.css';
@import './../../node_modules/swiper/components/pagination/pagination.scss';
@import './../../node_modules/swiper/components/navigation/navigation.scss';
@import './font-awesome-pro.css';
@import './style.scss';
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital@1&display=swap');

@font-face {
  font-family: 'SFNSDisplay-Regular';
  src: url('../fonts/sfuitext-light-webfont.woff2') format('woff2'), url('../fonts/sfuitext-light-webfont.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'SFNSDisplay-Regular';
  src: url('../fonts/sfuitext-regular-webfont.woff2') format('woff2'), url('../fonts/sfuitext-regular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'SFNSDisplay-Regular';
  src: url('../fonts/sfuitext-medium-webfont.woff2') format('woff2'), url('../fonts/sfuitext-medium-webfont.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'SFNSDisplay-Regular';
  src: url('../fonts/sfuitext-semibold-webfont.woff2') format('woff2'), url('../fonts/sfuitext-semibold-webfont.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'SFNSDisplay-Regular';
  src: url('../fonts/sfuitext-bold-webfont.woff2') format('woff2'), url('../fonts/sfuitext-bold-webfont.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

body {
  font-family: 'SFNSDisplay-Regular', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 0.2px;
  color: #000000;
  margin: 0px;
}
.font-weight-100 {
  font-weight: 100 !important;
}
.font-weight-200 {
  font-weight: 200 !important;
}
.font-weight-300 {
  font-weight: 300 !important;
}
.font-weight-400 {
  font-weight: 400 !important;
}
.font-weight-500 {
  font-weight: 500 !important;
}
.font-weight-600 {
  font-weight: 600 !important;
}
.font-weight-700 {
  font-weight: 700 !important;
}
.font-weight-800 {
  font-weight: 800 !important;
}
.font-weight-900 {
  font-weight: 900 !important;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}
img {
  display: inline-block;
}
input,
textarea,
select,
input[type='text'],
input[type='password'],
input[type='datetime'],
input[type='datetime-local'],
input[type='date'],
input[type='month'],
input[type='time'],
input[type='week'],
input[type='number'],
input[type='email'],
input[type='url'],
input[type='search'],
input[type='tel'],
input[type='color'] {
  font-family: inherit;
  &::placeholder {
    color: #b6b6b6;
    font-size: 90%;
  }
}
input[type='submit'] {
  font-weight: 800;
}
input.error,
select.error,
textarea.error {
  border-color: #d10c0c !important;
}
.error-message {
  color: #d10c0c;
  margin-bottom: 5px;
  margin-left: 15px;
}
@media (max-width: 576px) {
  .container {
    padding: 0;
  }
}
.custom-btn {
  font-weight: 100;
  display: inline-block;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

.row {
  margin-right: -8px;
  margin-left: -8px;
}
.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto {
  padding-right: 8px;
  padding-left: 8px;
}

h1 {
  line-height: 1.2;
  letter-spacing: 0;
}
h2 {
  line-height: 1.2;
}
h3 {
  line-height: 1.2;
}
h4 {
  line-height: 1.2;
}
h6 {
  line-height: 1.2;
}
.rounded-0 {
  border-radius: 0 !important;
}
.rounded {
  border-radius: 50rem !important;
}
@media (min-width: 576px) {
  .rounded-sm-0 {
    border-radius: 0 !important;
  }
  .rounded-sm {
    border-radius: 50rem !important;
  }
}
@media (min-width: 768px) {
  .rounded-md-0 {
    border-radius: 0 !important;
  }
  .rounded-md {
    border-radius: 50rem !important;
  }
}
@media (min-width: 992px) {
  .rounded-lg-0 {
    border-radius: 0 !important;
  }
  .rounded-lg {
    border-radius: 50rem !important;
  }
}
@media (min-width: 1200px) {
  .rounded-xl-0 {
    border-radius: 0 !important;
  }
  .rounded-xl {
    border-radius: 50rem !important;
  }
}
.text-light {
  color: #e7ebef !important;
}
.left-img-wrap {
  left: -150px;
}
.policy-wrap a {
  font-weight: 800;
}
.login-section .media-body h5 {
  color: #8991a0;
}
.login-section .user-pic img,
.registration-section .user-pic img {
  width: auto;
  height: auto;
}
.home-section input[type='password'] {
  background-image: url('../images/Icon_Eye.svg');
}
.text-light {
  color: #c2c9d6 !important;
}

/*---------------registration-section----------------------*/
.form-input-wrap input {
  border: 0;
  border-bottom: 1px solid rgba(223, 226, 231, 0.55);
}
.form-input-wrap input[type='text']:focus {
  border-bottom: 2px solid #dfe2e7;
  border-radius: 0;
}
.form-input-wrap input ~ .spinner {
  position: absolute;
  right: 0;
  top: 18px;
  font-size: 1rem;
}
.setting-section {
  min-height: calc(100vh);
}
.setting-section .upload-pic-wrap .user-pic,
.registration-section .user-pic {
  position: relative;
  cursor: pointer;
}

.setting-section .upload-pic-wrap .user-pic .remove-avatar,
.registration-section .user-pic .remove-avatar {
  position: absolute;
  z-index: 2;
  bottom: 0;
  font-size: 0.8rem;
  right: 0;
  left: 0;
  text-align: center;
  background: #000000b0;
  color: #fff;
  height: 26px;
  cursor: pointer;
}
.setting-section .upload-pic-wrap .user-pic .new-avatar,
.registration-section .user-pic .new-avatar {
  position: absolute;
  z-index: 1;
  margin: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
}
.setting-section .upload-pic-wrap input[type='file'].avatar-file,
.registration-section input[type='file'].avatar-file {
  opacity: 0;
  position: absolute;
}
input[type='date']::-webkit-calendar-picker-indicator {
  width: 90%;
}
.position-relative {
  position: relative;
}
.otp-verify-section input[type='number'] {
  border: 1px solid transparent;
}
.feed-header {
  border: 1px solid rgba(0, 0, 0, 0.1);
  height: 60px;
  position: sticky;
}
.feed-header-menu {
  width: 33.33%;
  text-align: right;
}
.feed-header-menu li {
  margin: 0 12px;
  position: relative;
  @media (max-width: 768px) {
    margin: 0 7px;
  }
}
.feed-header-menu li .badge,
.mobile-footer .badge {
  position: absolute;
  top: 0;
  right: 20px;
  font-weight: 300;
  height: 18px;
  width: 18px;
  border-radius: 100%;
  font-size: 11px;
  line-height: 11px;
}
.feed-logo {
  width: 33.33%;
}
.page-section {
  border: 1px solid #e8e8e8;
  border-top: 0;
  border-bottom: 0;
  padding: 0;
  min-height: calc(100vh - 60px);
  @media screen and (max-width: 576px) {
    min-height: calc(100vh - 114px);
  }
}
.feed-right {
  height: 100%;
  position: sticky;
  top: 60px;
}
.feed-left {
  min-height: 100vh;
}
.mobile-featured-users {
  width: 100%;
  display: none;
  background-color: #fff;
  @media screen and (max-width: 576px) {
    display: block;
  }
}
.mobile-featured-users .swiper-slide {
  width: auto;
}
.feed-title {
  width: 33.33%;
  text-align: center;
  font-weight: bold;
  color: #969696;
  text-transform: uppercase;
}
.sldebar-wrap .moment-wrap {
  margin-top: 30px;
}
.sldebar-wrap h5 {
  color: #8991a0;
}
.featured-wrap ul {
  max-height: 500px;
  overflow: auto;
  position: relative;
}
.featured-wrap ul:before,
.featured-wrap ul:after {
  content: '';
  display: block;
  position: sticky;
  left: 0;
  right: 0;
  z-index: 1;
}
.featured-wrap ul::before {
  top: 0;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&1+0,0+100 */
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
}
.featured-wrap ul::after {
  height: 50px;
  bottom: 0;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0+0,1+100 */
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}
.featured-wrap li {
  position: relative;
}
.featured-wrap li:after {
  content: '';
  right: 0;
  bottom: -15px;
  left: 55px;
  border-bottom: 1px solid #dfe2e7;
  position: absolute;
}
.artical-full-wrap ul.feedList {
  padding: 20px;
  background: #f0f3fb;
  min-height: 420px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.animateNotification {
  margin-top: -46px;
}
.animateNotification-enter {
  margin-top: -46px;
}
.animateNotification-enter-active {
  margin-top: 0;
  transition: margin-top 300ms ease-in;
}
.animateNotification-exit {
  margin-top: 0;
}
.animateNotification-exit-active {
  margin-top: -46px;
  transition: margin-top 300ms ease-in;
}
li.artical-wrap {
  background-color: #fff;
  width: 100%;
}
li.artical-wrap .artical-body .btn-lock-wrap {
  display: flex;
  flex-direction: column;
}
.artical-body .btn-lock-wrap {
  top: 50%;
  transform: translate(-50%, -50%);
  min-width: 270px;
}
.btn-lock-wrap img {
  margin: 0 auto 20px;
}

.dropdown-user {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.artical-footer .read-more {
  cursor: pointer;
  display: inline-block;
}
.commants-wrap h4 {
  cursor: pointer;
  color: #7c8494;
}
.commants-wrap .comment-input {
  display: block;
  background: rgb(245, 245, 245);
  border-radius: 5px;
  padding: 8px;
  height: 56px !important;
  font-size: 14px;
}
.likes-commants-wrap span {
  cursor: pointer;
}
a#subscribe-btn {
  font-weight: 400;
}
.top-rebellions h5 {
  font-weight: 800;
}
.post_option {
  position: relative;
}

.post_options .progress {
  min-height: 30px;
  height: auto;
  line-height: 1.42;
  position: relative;
}
.post_options .progress-bar {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
}
.post_options:not(.voted) .progress {
  cursor: pointer;
}
.post_options.voted .progress {
  pointer-events: none;
}

.post_option .option_name {
  position: relative;
  margin: 5px 0;
  z-index: 1;
  font-weight: 500;
  font-style: italic;
  font-size: 0.8rem;
}
.post_option.voted .option_name {
  background-color: #ececec;
  padding: 0 5px;
  border-radius: 5px;
}
.post_option.has-votes .option_name {
  background-color: #ececec;
  padding: 0 5px;
  border-radius: 5px;
  box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.27);
}
.post_option .progress-count {
  font-size: 1.2rem;
  color: #8991a0;
}
/*-------------------------setting-section-------------------------------*/
.setting-tabs {
  width: 35%;
  border-right: 1px solid #dddddd;
}
.setting-tabs ul {
  position: sticky;
  top: 60px;
}
.setting-section .tab-content {
  width: 65%;
  padding: 0 20px;
  position: relative;
  top: 0;
  height: auto;
}
.setting-tabs li {
  border-bottom: 1px solid #dfe2e7;
  padding: 5px 20px;
}
.setting-tabs li.disabled {
  pointer-events: none;
}
.setting-tabs .tab-item .user-pic {
  width: 36px;
  height: 32px;
  background: #e9f1ff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}
.setting-tabs .tab-item.active,
.setting-tabs .tab-item.active .user-pic i {
  color: #5458f7 !important;
}

.setting-tabs .tab-item .dropdown-user {
  color: #c2c9d7;
}

.settings-form label {
  margin-bottom: 0;
}
.settings-form .form-control:disabled,
.settings-form .form-control[readonly] {
  background: transparent;
  color: #a9a9a9;
}
.form-input-wrap .settings-form input:not(.error),
.form-input-wrap .settings-form input:focus:not(.error),
.form-input-wrap .settings-form select:not(.error),
.form-input-wrap .settings-form select:focus:not(.error),
.form-input-wrap .settings-form .form-group.flex-column-wrap textarea:not(.error),
.form-input-wrap .settings-form .form-group.flex-column-wrap textarea:focus:not(.error) {
  border: none;
  resize: none;
}
.media.profile-details {
  align-items: center;
  margin: 10px 0;
  cursor: pointer;
}
.media.profile-details .user-pic img {
  height: auto;
  width: auto;
}
.setting-section .tab-content h4.pageTitle {
  font-size: 20px;
  margin-bottom: 30px;
  color: #969696;
  font-weight: 800;
}
.cover-img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.cover-img:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  top: 30%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(6, 27, 65, 0)), to(rgba(6, 27, 65, 0.95)));
  background: linear-gradient(180deg, rgba(6, 27, 65, 0) 0, rgba(6, 27, 65, 0.95));
  z-index: 1;
}
.cover-pic-wrap .back-btn-wrap {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 35px 20px 0;
  justify-content: space-between;
  z-index: 2;
}
.upload-pic-wrap {
  position: relative;
  z-index: 1;
}
.upload-pic-wrap .user-pic {
  margin-top: -60px;
  border: 2px solid #fff;
  background: #e9f1ff;
  border-radius: 100%;
  width: 120px;
  height: 120px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.upload-pic-wrap .user-pic img {
  height: auto;
  width: auto;
  object-fit: contain;
  margin: 0 auto;
}
.subscription-checkout-backdrop {
  z-index: 1050;
}

.setting-section .cover-pic-wrap button,
.setting-section .upload-pic-wrap button {
  z-index: 1;
  letter-spacing: 0px;
}
.form-group label {
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.24px;
  color: #7c8494;
  font-weight: normal;
  min-width: 30%;
}
.form-group input,
.form-group textarea {
  border-radius: 0;
}
.form-group.flex-column-wrap textarea {
  border: 0;
  border-bottom: 1px solid rgba(223, 226, 231, 0.55);
}
.gender label,
.gender input {
  cursor: pointer;
}
.gender label {
  padding: 5px;
  border: 0;
  cursor: pointer;
  z-index: 90;
  width: 100%;
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
}
.comment-follow-wrap a.action-link {
  height: 34px;
  width: 34px;
  color: #a4a9b1;
  font-size: 1.1rem;
}
.comment-follow-wrap a.action-link.active {
  border-color: #28a745;
}
.user-strength {
  width: 100%;
  align-items: flex-end;
  z-index: 2;
}
.followers-following-wrap {
  line-height: 0.8;
}
.followers-following-wrap span {
  font-weight: 100;
  font-size: 0.7rem;
}
.user-name-wrap {
  margin-left: 130px;
  line-height: 0.8;
}
.user-name-wrap h3 {
  margin: 0;
  color: #fff;
  font-size: 22px;
}
.user-name-wrap span {
  font-weight: 100;
  font-size: 0.8rem;
}
.location-content-wrap {
  margin: 15px 15px 0px;
}
.location-content-wrap p {
  line-height: 1.5;
  margin: 20px 0;
}
.user-name-wrap.mobile-view {
  display: none;
}
.tabing.mobile-tab {
  padding: 30px 0 5px;
}
.tabing.mobile-tab ul {
  display: flex;
  justify-content: space-around;
}
.tabing.mobile-tab li {
  font-size: 1rem;
  line-height: 1.43;
  font-weight: 500;
}
.tabing.mobile-tab li a {
  color: #7c8494;
  padding-bottom: 10px;
}
.tabing.mobile-tab li.active a {
  color: #5458f7;
  border-bottom: 2px solid #5458f7;
}
@media (max-width: 1400px) {
  .left-img-wrap {
    left: -125px;
  }
}
@media (max-width: 1199px) and (min-width: 992px) {
  .setting-section .tab-content {
    width: 60%;
  }
  .setting-tabs {
    width: 40%;
  }
  .setting-tabs li {
    padding: 5px 10px;
  }
}
@media (max-width: 767px) {
  .artical-full-wrap ul.feedList {
    padding: 0;
  }
  .page-section {
    border: 0;
    margin-bottom: 60px;
  }
  .artical-footer {
    padding-bottom: 30px;
  }
  li.artical-wrap {
    margin-bottom: 0;
  }
  .mobile-footer {
    padding: 0px;
    z-index: 99;
  }
  .mobile-footer li {
    line-height: 9px;
    width: 25%;
    padding: 8px;
  }
  .mobile-footer li a {
    color: #8991a0;
  }
  .setting-tabs {
    width: 100%;
  }
  .setting-tabs li {
    margin-bottom: 10px;
    padding: 0 15px;
    background-color: #fff;
  }
  .setting-tabs ul {
    margin-bottom: 198px;
  }
  .upload-pic-wrap .user-pic {
    width: 100px;
    height: 100px;
    margin-top: -50px;
  }
  .feed-header.second-header .feed-header-menu li.save-icon {
    font-weight: 800;
  }
  .user-name-wrap.mobile-view {
    display: block;
    margin-left: 0;
  }
  .user-name-wrap.mobile-view h3 {
    color: #000;
    font-weight: 700;
  }
  .page-section.profile-section-wrap .feed-header {
    display: none;
  }
  .setting-section .tab-content {
    width: 100%;
    padding: 0;
    h4.pageTitle {
      display: none;
    }
    .form-group > label {
      min-width: 35%;
    }
  }
}
@media (max-width: 576px) {
  .location-link-wrap {
    margin: 20px 0;
  }
  .followers-following-wrap.mobile-view {
    margin-top: 0;
    line-height: 1;
  }
  .follower,
  .following {
    display: inline-flex;
    align-items: center;
  }
  .followers-following-wrap.mobile-view h3 {
    font-size: 0.9rem;
    margin: 0;
    font-weight: 500;
  }
  .followers-following-wrap.mobile-view span {
    font-size: 0.9rem;
    font-weight: 500;
  }
  .upload-pic-wrap .user-pic {
    width: 80px;
    height: 80px;
    margin-top: -40px;
  }
  .comment-follow-wrap a.action-link {
    height: 26px;
    width: 26px;
    font-size: 0.8rem;
    border: 1px solid #d8dee8;
  }
  .comment-follow-wrap a.action-link img {
    width: 20px;
    height: 20px;
  }
}

// Notification Drawer
.body-overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.8);
}

.animateBodyOverlay-enter {
  opacity: 0;
}
.animateBodyOverlay-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}
.animateBodyOverlay-exit {
  opacity: 1;
}
.animateBodyOverlay-exit-active {
  opacity: 0;
  transition: opacity 300ms ease-in;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  background-color: #ffffff;
  overflow-x: hidden;
  transition: 0.5s;
  width: 400px;
  a {
    padding: 15px 9px 14px 41px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    transition: 0.3s;
  }
  .closebtn1 {
    width: 24px;
    height: 24px;
    display: inline-block;
    background-repeat: no-repeat;
    position: absolute;
    top: 11px;
    right: 20px;
    margin-left: 50px;
    z-index: 99;
    color: #969696;
    font-size: 1.5rem;
    padding: 0;
    text-align: center;
  }
  .notification_user {
    width: 48px;
    border-radius: 4px;
    height: 48px;
  }
  .notification_user {
    width: 48px;
    object-fit: cover;
    height: 48px;
    border-radius: 4px;
  }
  .today__group {
    border-bottom: 0.5px solid #dfe2e7;
    display: flex;
    flex-direction: row;
    align-items: center;
    display: flex;
    align-items: flex-start;
  }
  .today__group .content-image {
    width: 48px;
    overflow: hidden;
    border-radius: 4px;
  }
  .today__group2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .today__group2 .today_contnet {
    width: 225px;
  }
  .msgss {
    width: 23px;
    height: 23px;
    display: inline-block;
  }
  .next_contnet p {
    position: relative;
    font-size: 13px;
    color: #7c8494;
    font-weight: 300;
    padding-left: 10px;
  }
  .next_contnet p:before {
    content: '';
    width: 3px;
    height: 100%;
    background-color: #e9ecf0;
    border-radius: 3px;
    display: inline-block;
    position: absolute;
    left: 0;
  }
  .next_contnet img {
    width: 48px;
    height: 48px;
  }
  .today_contnet {
    padding-left: 10px;
    width: 90%;
    display: flex;
    flex-direction: column;
  }
  .today_contnet .next_contnet {
    max-height: 40px;
  }
  .today h5 {
    font-size: 20px;
    color: #000000;
  }
  .today_user {
    display: inline-block;
    position: relative;
    width: 15%;
  }
  .today__time {
    color: #5458f7;
    font-size: 12px;
    position: relative;
    margin-top: 5px;
  }
  .today_contnet p {
    font-size: 14px;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 0;
  }
  .today_contnet p span {
    font-size: 14px;
    font-weight: 300;
    color: #8991a0;
  }
  .today_user img.avatar {
    max-width: 48px;
    max-height: 48px;
    border-radius: 48px;
    width: fit-content;
  }
  .notification__header {
    background-color: #f5f5f5;
    height: 55px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-top: 0;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1;
  }
  .notification__header h5 {
    font-size: 20px;

    color: #000000;
  }
  .msgss {
    margin-top: 0px;
    position: absolute;
    bottom: -9px;
    right: 0;
  }
  .yesterday .today__time {
    color: #97a0b0;
    font-size: 12px;
    position: relative;
    top: -9px;
    font-weight: 300;
  }
  .yesterday .today_contnet p span {
    font-size: 14px;
    font-weight: 300;
    color: #97a0b0;
  }
  .yesterday .today__group {
    padding-top: 22px;
  }
  .yesterday.today {
    padding: 8px 0px 4px 0px;
  }
  .yesterday .today_contnet {
    position: relative;
    top: -12px;
  }
  .yesterday .pt {
    padding-top: 0px;
  }
  .notification__wrap {
    height: calc(100vh - 80px);
    overflow: auto;
  }

  &::-webkit-scrollbar {
    width: 5px;
  }
  &::-webkit-scrollbar-track {
    border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
  }
  @media (max-width: 576px) {
    width: 100%;
  }

  // Menu sidebar
  &.menu_drw1 {
    .chat_single__header {
      position: relative;
      top: 15px;
      padding: 1px 4px 33px 4px;
      box-shadow: 0px 0.5px 0px rgba(0, 0, 0, 0);
      display: flex;
      align-items: center;
    }
    .avatar {
      margin-right: 12px;
      margin-left: 12px;
      width: 72px;
      height: 72px;
      border-radius: 50%;
      overflow: hidden;
    }
    .avatar__name {
      font-size: 20px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      position: relative;
      top: -7px;
      p {
        font-weight: 700;
      }
      .user__name {
        font-size: 13px;
        color: #8991a0;
        position: absolute;
        font-weight: normal;
        top: 26px;
        padding: 6px 0px;
      }
    }
    ul.menu1 {
      margin-left: 23px;
      position: relative;
      top: 0px;
      li {
        position: relative;
      }
      li.my_profile {
        &::before {
          background-image: url('../images/vector.png');
        }
      }
      li.bookmarks {
        &::before {
          background-image: url('../images/Frame.png');
        }
      }
      li.lists {
        &::before {
          background-image: url('../images/Icon-Star.png');
        }
      }
      li.settings {
        &::before {
          background-image: url('../images/Frames.png');
        }
      }
      li.my_wallet {
        &::before {
          background-image: url('../images/my_wallet.png');
        }
      }
      li.monthly-statement {
        &::before {
          background-image: url('../images/my_wallet.png');
        }
      }
      li::before {
        content: '';
        position: absolute;
        top: 14px;
        width: 24px;
        height: 24px;
        display: inline-block;
        background-repeat: no-repeat;
        background-position: center;
      }
      li a {
        font-size: 16px;
        color: rgb(0, 0, 0);
        display: block;
        padding: 15px 9px 14px 41px;
        text-decoration: none;
        transition: all 0.3s ease 0s;
      }
      li::after {
        content: '';
        position: absolute;
        width: 80%;
        height: 0.5px;
        display: inline-block;
        left: 42px;
        border-bottom: 1px solid rgb(223, 226, 231);
      }
    }
    ul.menu2 {
      position: absolute;
      bottom: 0px;
      margin-bottom: 11px;
      li a {
        font-size: 12px;
        color: rgb(0, 0, 0);
        display: block;
        padding: 15px 9px 5px 21px;
        text-decoration: none;
        transition: all 0.3s ease 0s;
      }
      li.log_out {
        position: relative;
        margin-left: 21px;
        a {
          padding-left: 30px !important;
        }
        &::before {
          content: '';
          position: absolute;
          top: 14px;
          background-image: url('../images/Log-out.png');
          background-repeat: no-repeat;
          background-size: cover;
          width: 20px;
          height: 20px;
          display: inline-block;
        }
      }
    }
  }

  &.search_drawer {
    a {
      padding: 0;
    }
  }
}

// New Post
.image-uploader {
  min-height: 10rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
}
.image-uploader input[type='file'] {
  width: 0;
  height: 0;
  position: absolute;
  z-index: -1;
  opacity: 0;
}
textarea.description {
  outline: none !important;
  border: 0px solid #dfe2e7;
  background: #fff;
  height: 50px;
  line-height: 1.42;
  padding: 0 20px;
  font-size: 20px;
  width: 100%;
  border-bottom: 1px solid #dfe2e7;
}
.image-uploader .upload-text {
  width: 160px;
  height: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  background-color: #f5f5f5;
  border-radius: 10px;
  margin-top: 16px;
  margin-left: 8px;
}
.image-uploader .upload-text i {
  display: block;
  font-size: 3rem;
  color: #7c8494;
  margin-bottom: 0.5rem;
}
.image-uploader .uploaded {
  padding: 0.5rem;
  line-height: 0;
}
.image-uploader .uploaded .uploaded-image {
  width: 340px;
  height: 220px;
  padding-bottom: calc(21% - 1rem);
  position: relative;
  margin: 0.5rem 0;
  background: #f3f3f3;
  cursor: default;
  border-radius: 10px;
  overflow: hidden;
}
.image-uploader .uploaded .uploaded-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
}
.image-uploader .uploaded .uploaded-image video {
  max-height: 100%;
  max-width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}
.image-uploader .uploaded .uploaded-image .delete-image {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: #187bcd;
  -webkit-appearance: none;
  border: none;
}
.image-uploader .uploaded .uploaded-image .delete-image i {
  color: #fff;
  font-size: 1.4rem;
}
.new_post .price-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.new_post .price-section input[name='price'] {
  max-width: 50px;
  border: none;
  padding: 0;
  font-weight: 500;
  text-align: right;
}
.new_post .title {
  font-size: 20px;
  padding-top: 15px;
  padding-bottom: 18px;
  letter-spacing: 0.8px;
}
.custom-btn__submit {
  background-color: #187bcd;
  padding: 14px 51px;
  font-size: 17px;
  color: white;
  border-radius: 28px;
  position: absolute;
  top: 104px;
  right: 51px;
  font-weight: 600;
}
.new_post_option {
  border: 0px solid #dfe2e7;
  // border-bottom: 1px solid #dfe2e7;
  padding: 15px 0;
}
.new_post_option ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.new_post_option li {
  display: inline-block;
}
.new_post_option li a {
  display: block;
  margin: 5px 15px;
  font-size: 1.6rem;
  color: #88909a;
  transition: none;
  &.active {
    color: #187bcd;
  }
}
@media only screen and (max-width: 768px) {
  .new_post .title {
    position: absolute;
    right: 0;
    left: 0;
    top: 9px;
    text-align: center;
  }
  .new__post__wrap {
    padding: 9px 0px 0px 0px;
  }
  .image-uploader {
    align-items: center;
    justify-content: space-between;
  }
  .image-uploader .uploaded {
    width: 50%;
  }
  .image-uploader .uploaded .uploaded-image,
  .image-uploader .upload-text {
    width: 100%;
    height: 200px;
    padding-bottom: 0;
    margin: 0;
  }
  .custom-btn__submit {
    background-color: #187bcd00;
    color: #187bcd;
    padding: 16px 15px 0px 0px;
    top: 8px;
    right: 0px;
  }
  .image-uploader .uploaded .uploaded-image .delete-image {
    top: 7px;
    right: 7px;
    width: 30px;
    height: 30px;
  }
  .icon_close2 {
    padding-left: 15px;
  }
}

@media only screen and (max-width: 576px) {
  .new__post__form {
    margin-top: 0;
    padding-bottom: 0;
  }
  .image-uploader {
    justify-content: start;
    flex-wrap: nowrap;
    overflow: auto;
  }
  .image-uploader .uploaded,
  .image-uploader .upload-text {
    min-width: 75%;
  }
  .new_post_option {
    position: fixed;
    left: 0;
    right: 0;
    background: #fff;
    bottom: 0;
    z-index: 99;
  }
  .new__post__form .new__post__pole,
  .new__post__form .new__post__image {
    height: calc(100vh + 140px);
    overflow: auto;
  }
}

// New Poll
.new__post__pole {
  .m-t {
    margin-top: 38px;
    margin-bottom: 20px;
  }
  .uk-alert {
    background-color: #f5f5f5;
    position: relative;
    padding: 10px 20px;
    border-radius: 10px;
    width: 340.21px;
    margin-bottom: 12px;
  }
  .uk-alert input {
    height: 36px;
    background: none;
    font-size: 15px;
    font-weight: normal;
    border: none;
    padding-left: 5px;
    border-bottom: 1px solid #b7becd;
  }
  .uk-alert-close {
    color: #7c8494;
    position: absolute;
    top: 14px;
    right: 15px;
    font-size: 22px;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    cursor: pointer;
  }
  .add_another_option-link {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }
  .add_another_option {
    margin-top: 20px;
    position: relative;
    display: flex;
  }
  .add_another_option span {
    color: #187bcd;
    padding-left: 10px;
    font-size: 20px;
    font-weight: normal;
    cursor: pointer;
  }
  @media only screen and (max-width: 768px) {
    .uk-alert-close {
      right: -29px;
    }
  }
  @media only screen and (max-width: 576px) {
    .uk-alert {
      width: 90%;
    }
    .add_another_option {
      width: 100%;
      margin-top: 20px;
      margin-left: 0;
    }
    .add_another_option span {
      font-size: 18px;
    }
  }
}

.pageLoader {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1;
}

// Modal
.modal-header {
  padding: 0.5rem 1rem;
  border: none;
}
.modal-title {
  font-size: 1rem;
}
.modal-footer {
  border: none;
  padding: 0.5rem 0.75rem;
}
.modal-body {
  max-height: calc(98vh - 110px);
  overflow: auto;
}
.modal-content {
  border: none;
  border-radius: 4px;
}
.modal-backdrop {
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.8);
}
.modal-backdrop.show {
  opacity: 1;
}
.modal-dialog {
  @media screen and (max-width: 576px) {
    margin: 0;
  }
}

// Post images slider
:root {
  --swiper-theme-color: #187bcd;
}
.postSlider {
  position: relative;
  background-color: #000;
  box-shadow: 0px 10px 12px -12px rgba(0, 0, 0, 0.3);
  outline: 2px solid rgb(0 0 0 / 0.01);
}
.swiper-container-horizontal {
  > .swiper-pagination-bullets {
    .swiper-pagination-bullet {
      margin: 0 2px;
    }
  }
}
.postSlider .swiper-slide {
  img {
    width: 100%;
    object-fit: contain;
  }
}
.postSlider .swiper-slide,
.postSlider .swiper-slide img,
.postSlider .swiper-slide video {
  max-height: 500px;
  min-height: 350px;
  @media (max-width: 576px) {
    max-height: 400px;
  }
}
.postSlider .swiper-container {
  // overflow: unset;
}
.postSlider .swiper-pagination {
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
}

.post-detail .modal-body {
  min-height: 400px;
  display: flex;
  @media screen and (max-width: 576px) {
    height: 100vh;
    max-height: none;
  }
  .postDetail-right {
    display: block;
    max-height: 100%;
    overflow: auto;
  }
}

// List sidebar
.list_items {
  .chat__and__list {
    border: 0;
    position: sticky;
    top: 60px;
    height: calc(100vh - 60px);
    padding-top: 15px;
    width: 35%;
    border-right: 1px solid #dddddd;
    &.chatList {
      ul {
        height: 100%;
        overflow: auto;
      }
    }
    @media (max-width: 576px) {
      width: 100%;
      border: none;
      padding-bottom: 60px;
      &.hideOnMobile {
        display: none;
      }
    }
    .chat-list-room {
      &.active {
        background-color: #f0f3fb;
      }
      .chatListMeta {
        position: absolute;
        top: 50%;
        color: #7c8494;
        right: 15px;
        transform: translateY(-50%);
        font-weight: 100;
        font-size: 0.7rem;
      }
    }
  }
  .feed-left {
    width: 65%;
    @media (max-width: 576px) {
      width: 100%;
    }
  }
  .moment-wrap {
    .media-body {
      display: flex;
      flex-direction: column;
    }

    .media-body p {
      color: #8991a0;
      margin-top: 0;
      margin-bottom: 0;
      font-size: 0.8rem;
      font-weight: 300;
    }
    .media-body h5 {
      font-size: 1rem;
      line-height: 1.42;
      font-weight: normal;
      letter-spacing: -0.3px;
      color: #000;
      margin-bottom: 0;
    }

    .user-pic {
      width: 52px;
      height: 52px;
      background: #f3f5f8;
      border-radius: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .media {
      cursor: pointer;
    }
    .media.active .media-body h5,
    .media:hover .media-body h5,
    .media:hover .media-body p,
    .media.active .media-body p {
      color: #0056b3;
    }
  }
}

.dropdown,
.dropleft {
  .dropdown-toggle {
    cursor: pointer;
    &::after,
    &::before {
      display: none;
    }
  }
  .dropdown-item {
    font-size: 0.8rem;
  }
}
.dropdown .dropdown-menu-right {
  transform: translate(-85%, 20px) !important;
}

// Chat and Followers, Following
.chatbox_colum {
  padding: 17px 20px 20px 20px;
  width: 65%;
  min-height: calc(100vh - 114px);
  position: relative;
  &.bg-gray {
    background-color: #f0f3fb;
  }
  @media (max-width: 576px) {
    width: 100%;
    // height: calc(100vh - 120px);
  }
  .search {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    h1 {
      font-size: 20px;
      line-height: 48px;
      letter-spacing: 0.48px;
      margin: 10px 0;
      text-transform: capitalize;
      @media (max-width: 576px) {
        display: none;
      }
    }
    .sb-example-1 .search {
      width: 100%;
      position: relative;
      display: flex;
      .searchTerm {
        width: 278px;
        border-right: none;
        padding: 5px;
        border-radius: 18px;
        outline: none;
        color: #7c8494;
        padding-left: 42px;
        border: none;
        height: 36px;
        background-color: #f1f3f7;
        @media (max-width: 375px) {
          width: 230px;
        }
        @media (max-width: 348px) {
          width: 200px;
        }
        @media (max-width: 318px) {
          width: 160px;
        }
      }
      .searchButton {
        width: 40px;
        height: 50px;
        border: navajowhite;
        background: #f1f3f700;
        text-align: center;
        color: #fff;
        border-radius: 0 5px 5px 0;
        cursor: pointer;
        font-size: 20px;
        left: 0;
        position: absolute;
      }
      .Icon-Search {
        background-image: url('../images/Icon-Search.svg');
        background-repeat: no-repeat;
        background-position: center;
        width: 24px;
        height: 24px;
        display: inline-block;
        top: 2px;
        position: relative;
        right: 0;
      }
      .clearButton {
        color: #5458f7;
        font-size: 1rem;
      }
    }
  }

  .w3-bar.w3-black {
    padding-top: 14px;
    ul.tab__ul {
      list-style-type: none;
      display: flex;
      align-items: center;
      border-bottom: 1px solid #dfe2e7;
      padding-bottom: 12px;
      @media (max-width: 576px) {
        justify-content: space-between;
      }
      li.tab {
        padding: 0 23px;
        position: relative;
        @media (max-width: 576px) {
          padding: 0 10px;
        }
        button.w3-bar-item.w3-button {
          background-color: #ffffff00;
          font-size: 15px;
          font-weight: 300;
          color: #7c8494;
          @media (max-width: 576px) {
            font-weight: 400;
          }
        }
        &.select button.w3-bar-item.w3-button {
          color: #5458f7;
        }
        &.select:after {
          content: '';
          position: absolute;
          border-bottom: 1px solid #5458f7;
          bottom: -13px;
          right: 0;
          width: 73%;
          left: 0;
          margin: 0 auto;
        }
      }
    }
  }

  .w3-container {
    .featured-wrap ul {
      max-height: none;
      overflow: unset;
      &::after {
        display: none;
      }
    }
    .featured-wrap li {
      position: relative;
      .icon_more {
        width: 24px;
        height: 24px;
      }
    }
  }
  .chatbox {
    display: flex;
    flex-direction: column;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 60px - 20px);
    @media (max-width: 576px) {
      height: auto;
    }
    .chat-window {
      display: flex;
      flex-direction: column;
      height: calc(100% - 50px);
      overflow: auto;
      margin: 10px 0;
      @media (max-width: 576px) {
        height: auto;
        margin: 0;
      }
      .msg-container {
        background: #fff;
        min-width: 120px;
        max-width: 75%;
        margin: 1px 0;
        border-radius: 5px;
        padding: 8px 15px 20px;
        position: relative;
        .timestamp {
          position: absolute;
          bottom: 2px;
          right: 10px;
          font-size: 0.7rem;
          color: #b4b7bd;
        }
        &.msg-self {
          margin-left: auto;
          background: #b7e9f7;
        }
        &.msg-remote {
          margin-right: auto;
        }
      }
    }
    .chat-input {
      margin: 0 -20px;
      margin-top: auto;
      position: relative;
      @media (max-width: 576px) {
        position: fixed;
        bottom: 0;
        z-index: 99;
        left: 0;
        right: 0;
        margin: 0;
      }
      input {
        border: none;
        height: 48px;
        @media (max-width: 576px) {
          height: 54px;
        }
      }
      .typing {
        position: absolute;
        top: -23px;
        left: 50%;
        font-size: 0.7rem;
        background: #fff;
        padding: 0 15px;
        border-radius: 20px;
        transform: translateX(-50%);
      }
    }
  }
}

.chatSubmit {
  position: absolute;
  z-index: 1;
  background: none;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  color: #b3b3b3;
  font-size: 1.5rem;
}

.chatFile {
  position: absolute;
  z-index: 1;
  background: none;
  top: 50%;
  right: 40px;
  transform: translateY(-50%);
  color: #b3b3b3;
  font-size: 1.5rem;
}

// wallet
.transaction-item {
  font-size: 0.9rem;
  &.received {
    cursor: pointer;
    &:hover {
      background-color: #e9f1ff;
    }
  }
}
.topup_modal {
  text-align: center;
  input[name='topupAmount'] {
    max-width: 170px;
    padding: 0;
    font-weight: 500;
    text-align: center;
    font-size: 3rem;
    border: none;
    border-bottom: 4px solid #ececec;
    height: 60px;
  }
}

.AddMoneyPopup {
  .message {
    border: none;
    resize: none;
  }
}

.post-date{
  h2{
    margin: 0;
    font-weight: 400;
    color: #8991a0;
    font-size: 13px;
    line-height: 16px;
  }
}

.post-price{
  display: flex;
  justify-content: flex-end;
  h2{
    margin: 0;
    font-weight: 400;
    color: #8991a0;
    font-size: 13px;
    line-height: 16px;
  }
  img{
    width: 10px;
    margin: 0 10px;
  }
}

.lb-header{
  background: transparent !important;
  box-shadow: 0 0 !important;
}

.infinite-scroll-component__outerdiv {
  width: 60% !important;
}
@media (max-width: 576px) {
  .infinite-scroll-component__outerdiv {
    width: 100% !important;
  }
}

.feedList {
  .infinite-scroll-component__outerdiv {
    width: 100% !important;
  } 
}

// pages CSS
.terms_and_conditions-section .tc-header{min-height:400px;background-color:#187BCD;padding-top: 60px;}
.tc-xl-logo { position: absolute; top: 0; right: 0; }
.head-content h1 { color: #fff; font-weight: bold; }
.tc-content {font-weight: normal; line-height: 24px; letter-spacing: -0.43px; padding: 70px 0; }
.head-content a { color: #fff; font-weight: normal; font-size: 16px; margin-bottom: 20px; display: block;margin-top: 70px;}
.head-content a i { padding-right: 15px;    font-weight: 400;
  font-size: 16px;}
@media(max-width:767px){
.tc-xl-logo { max-width: 150px; }
.terms_and_conditions-section .tc-header { min-height:170px;padding-top: 30px; }
.head-content a { margin-top: 10px; margin-bottom: 10px; }
.head-content h1 { font-size: 25px; }
.tc-content { padding: 40px 0; }
.terms_and_conditions-section .container {
  padding: 0 15px;
}
}
.react-date-picker__wrapper {
  border: 0px !important;
  width: 100% !important;
}
.setting-section .form-group{
  justify-content: flex-start !important;
}
.react-date-picker__calendar{
  z-index: 999999;
}
.btn-social{position:relative;padding-left:54px;text-align:left;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;min-height:44px;height:auto;line-height:32px;border-radius: 50rem;}.btn-social>:first-child{position:absolute;left:0;top:0;bottom:0;width:44px;line-height:44px;font-size:1.2em;text-align:center;border-right:1px solid rgba(0,0,0,0.2)}
.btn-social.btn-lg{padding-left:61px}.btn-social.btn-lg>:first-child{line-height:45px;width:45px;font-size:1.8em}
.btn-social.btn-sm{padding-left:38px}.btn-social.btn-sm>:first-child{line-height:28px;width:28px;font-size:1.4em}
.btn-social.btn-xs{padding-left:30px}.btn-social.btn-xs>:first-child{line-height:20px;width:20px;font-size:1.2em}
.btn-social-icon{position:relative;padding-left:44px;text-align:left;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;height:34px;width:34px;padding:0}.btn-social-icon>:first-child{position:absolute;left:0;top:0;bottom:0;width:32px;line-height:34px;font-size:1.6em;text-align:center;border-right:1px solid rgba(0,0,0,0.2)}
.btn-social-icon.btn-lg{padding-left:61px}.btn-social-icon.btn-lg>:first-child{line-height:45px;width:45px;font-size:1.8em}
.btn-social-icon.btn-sm{padding-left:38px}.btn-social-icon.btn-sm>:first-child{line-height:28px;width:28px;font-size:1.4em}
.btn-social-icon.btn-xs{padding-left:30px}.btn-social-icon.btn-xs>:first-child{line-height:20px;width:20px;font-size:1.2em}
.btn-social-icon>:first-child{border:none;text-align:center;width:100% !important}
.btn-social-icon.btn-lg{height:45px;width:45px;padding-left:0;padding-right:0}
.btn-social-icon.btn-sm{height:30px;width:30px;padding-left:0;padding-right:0}
.btn-social-icon.btn-xs{height:22px;width:22px;padding-left:0;padding-right:0}
.btn-adn{color:#fff;background-color:#d87a68;border-color:rgba(0,0,0,0.2)}.btn-adn:focus,.btn-adn.focus{color:#fff;background-color:#ce563f;border-color:rgba(0,0,0,0.2)}
.btn-adn:hover{color:#fff;background-color:#ce563f;border-color:rgba(0,0,0,0.2)}
.btn-adn:active,.btn-adn.active,.open>.dropdown-toggle.btn-adn{color:#fff;background-color:#ce563f;border-color:rgba(0,0,0,0.2)}.btn-adn:active:hover,.btn-adn.active:hover,.open>.dropdown-toggle.btn-adn:hover,.btn-adn:active:focus,.btn-adn.active:focus,.open>.dropdown-toggle.btn-adn:focus,.btn-adn:active.focus,.btn-adn.active.focus,.open>.dropdown-toggle.btn-adn.focus{color:#fff;background-color:#b94630;border-color:rgba(0,0,0,0.2)}
.btn-adn:active,.btn-adn.active,.open>.dropdown-toggle.btn-adn{background-image:none}
.btn-adn.disabled:hover,.btn-adn[disabled]:hover,fieldset[disabled] .btn-adn:hover,.btn-adn.disabled:focus,.btn-adn[disabled]:focus,fieldset[disabled] .btn-adn:focus,.btn-adn.disabled.focus,.btn-adn[disabled].focus,fieldset[disabled] .btn-adn.focus{background-color:#d87a68;border-color:rgba(0,0,0,0.2)}
.btn-adn .badge{color:#d87a68;background-color:#fff}
.btn-bitbucket{color:#fff;background-color:#205081;border-color:rgba(0,0,0,0.2)}.btn-bitbucket:focus,.btn-bitbucket.focus{color:#fff;background-color:#163758;border-color:rgba(0,0,0,0.2)}
.btn-bitbucket:hover{color:#fff;background-color:#163758;border-color:rgba(0,0,0,0.2)}
.btn-bitbucket:active,.btn-bitbucket.active,.open>.dropdown-toggle.btn-bitbucket{color:#fff;background-color:#163758;border-color:rgba(0,0,0,0.2)}.btn-bitbucket:active:hover,.btn-bitbucket.active:hover,.open>.dropdown-toggle.btn-bitbucket:hover,.btn-bitbucket:active:focus,.btn-bitbucket.active:focus,.open>.dropdown-toggle.btn-bitbucket:focus,.btn-bitbucket:active.focus,.btn-bitbucket.active.focus,.open>.dropdown-toggle.btn-bitbucket.focus{color:#fff;background-color:#0f253c;border-color:rgba(0,0,0,0.2)}
.btn-bitbucket:active,.btn-bitbucket.active,.open>.dropdown-toggle.btn-bitbucket{background-image:none}
.btn-bitbucket.disabled:hover,.btn-bitbucket[disabled]:hover,fieldset[disabled] .btn-bitbucket:hover,.btn-bitbucket.disabled:focus,.btn-bitbucket[disabled]:focus,fieldset[disabled] .btn-bitbucket:focus,.btn-bitbucket.disabled.focus,.btn-bitbucket[disabled].focus,fieldset[disabled] .btn-bitbucket.focus{background-color:#205081;border-color:rgba(0,0,0,0.2)}
.btn-bitbucket .badge{color:#205081;background-color:#fff}
.btn-dropbox{color:#fff;background-color:#1087dd;border-color:rgba(0,0,0,0.2)}.btn-dropbox:focus,.btn-dropbox.focus{color:#fff;background-color:#0d6aad;border-color:rgba(0,0,0,0.2)}
.btn-dropbox:hover{color:#fff;background-color:#0d6aad;border-color:rgba(0,0,0,0.2)}
.btn-dropbox:active,.btn-dropbox.active,.open>.dropdown-toggle.btn-dropbox{color:#fff;background-color:#0d6aad;border-color:rgba(0,0,0,0.2)}.btn-dropbox:active:hover,.btn-dropbox.active:hover,.open>.dropdown-toggle.btn-dropbox:hover,.btn-dropbox:active:focus,.btn-dropbox.active:focus,.open>.dropdown-toggle.btn-dropbox:focus,.btn-dropbox:active.focus,.btn-dropbox.active.focus,.open>.dropdown-toggle.btn-dropbox.focus{color:#fff;background-color:#0a568c;border-color:rgba(0,0,0,0.2)}
.btn-dropbox:active,.btn-dropbox.active,.open>.dropdown-toggle.btn-dropbox{background-image:none}
.btn-dropbox.disabled:hover,.btn-dropbox[disabled]:hover,fieldset[disabled] .btn-dropbox:hover,.btn-dropbox.disabled:focus,.btn-dropbox[disabled]:focus,fieldset[disabled] .btn-dropbox:focus,.btn-dropbox.disabled.focus,.btn-dropbox[disabled].focus,fieldset[disabled] .btn-dropbox.focus{background-color:#1087dd;border-color:rgba(0,0,0,0.2)}
.btn-dropbox .badge{color:#1087dd;background-color:#fff}
.btn-facebook{color:#fff;background-color:#3b5998;border-color:rgba(0,0,0,0.2)}.btn-facebook:focus,.btn-facebook.focus{color:#fff;background-color:#2d4373;border-color:rgba(0,0,0,0.2)}
.btn-facebook:hover{color:#fff;background-color:#2d4373;border-color:rgba(0,0,0,0.2)}
.btn-facebook:active,.btn-facebook.active,.open>.dropdown-toggle.btn-facebook{color:#fff;background-color:#2d4373;border-color:rgba(0,0,0,0.2)}.btn-facebook:active:hover,.btn-facebook.active:hover,.open>.dropdown-toggle.btn-facebook:hover,.btn-facebook:active:focus,.btn-facebook.active:focus,.open>.dropdown-toggle.btn-facebook:focus,.btn-facebook:active.focus,.btn-facebook.active.focus,.open>.dropdown-toggle.btn-facebook.focus{color:#fff;background-color:#23345a;border-color:rgba(0,0,0,0.2)}
.btn-facebook:active,.btn-facebook.active,.open>.dropdown-toggle.btn-facebook{background-image:none}
.btn-facebook.disabled:hover,.btn-facebook[disabled]:hover,fieldset[disabled] .btn-facebook:hover,.btn-facebook.disabled:focus,.btn-facebook[disabled]:focus,fieldset[disabled] .btn-facebook:focus,.btn-facebook.disabled.focus,.btn-facebook[disabled].focus,fieldset[disabled] .btn-facebook.focus{background-color:#3b5998;border-color:rgba(0,0,0,0.2)}
.btn-facebook .badge{color:#3b5998;background-color:#fff}
.btn-flickr{color:#fff;background-color:#ff0084;border-color:rgba(0,0,0,0.2)}.btn-flickr:focus,.btn-flickr.focus{color:#fff;background-color:#cc006a;border-color:rgba(0,0,0,0.2)}
.btn-flickr:hover{color:#fff;background-color:#cc006a;border-color:rgba(0,0,0,0.2)}
.btn-flickr:active,.btn-flickr.active,.open>.dropdown-toggle.btn-flickr{color:#fff;background-color:#cc006a;border-color:rgba(0,0,0,0.2)}.btn-flickr:active:hover,.btn-flickr.active:hover,.open>.dropdown-toggle.btn-flickr:hover,.btn-flickr:active:focus,.btn-flickr.active:focus,.open>.dropdown-toggle.btn-flickr:focus,.btn-flickr:active.focus,.btn-flickr.active.focus,.open>.dropdown-toggle.btn-flickr.focus{color:#fff;background-color:#a80057;border-color:rgba(0,0,0,0.2)}
.btn-flickr:active,.btn-flickr.active,.open>.dropdown-toggle.btn-flickr{background-image:none}
.btn-flickr.disabled:hover,.btn-flickr[disabled]:hover,fieldset[disabled] .btn-flickr:hover,.btn-flickr.disabled:focus,.btn-flickr[disabled]:focus,fieldset[disabled] .btn-flickr:focus,.btn-flickr.disabled.focus,.btn-flickr[disabled].focus,fieldset[disabled] .btn-flickr.focus{background-color:#ff0084;border-color:rgba(0,0,0,0.2)}
.btn-flickr .badge{color:#ff0084;background-color:#fff}
.btn-foursquare{color:#fff;background-color:#f94877;border-color:rgba(0,0,0,0.2)}.btn-foursquare:focus,.btn-foursquare.focus{color:#fff;background-color:#f71752;border-color:rgba(0,0,0,0.2)}
.btn-foursquare:hover{color:#fff;background-color:#f71752;border-color:rgba(0,0,0,0.2)}
.btn-foursquare:active,.btn-foursquare.active,.open>.dropdown-toggle.btn-foursquare{color:#fff;background-color:#f71752;border-color:rgba(0,0,0,0.2)}.btn-foursquare:active:hover,.btn-foursquare.active:hover,.open>.dropdown-toggle.btn-foursquare:hover,.btn-foursquare:active:focus,.btn-foursquare.active:focus,.open>.dropdown-toggle.btn-foursquare:focus,.btn-foursquare:active.focus,.btn-foursquare.active.focus,.open>.dropdown-toggle.btn-foursquare.focus{color:#fff;background-color:#e30742;border-color:rgba(0,0,0,0.2)}
.btn-foursquare:active,.btn-foursquare.active,.open>.dropdown-toggle.btn-foursquare{background-image:none}
.btn-foursquare.disabled:hover,.btn-foursquare[disabled]:hover,fieldset[disabled] .btn-foursquare:hover,.btn-foursquare.disabled:focus,.btn-foursquare[disabled]:focus,fieldset[disabled] .btn-foursquare:focus,.btn-foursquare.disabled.focus,.btn-foursquare[disabled].focus,fieldset[disabled] .btn-foursquare.focus{background-color:#f94877;border-color:rgba(0,0,0,0.2)}
.btn-foursquare .badge{color:#f94877;background-color:#fff}
.btn-github{color:#fff;background-color:#444;border-color:rgba(0,0,0,0.2)}.btn-github:focus,.btn-github.focus{color:#fff;background-color:#2b2b2b;border-color:rgba(0,0,0,0.2)}
.btn-github:hover{color:#fff;background-color:#2b2b2b;border-color:rgba(0,0,0,0.2)}
.btn-github:active,.btn-github.active,.open>.dropdown-toggle.btn-github{color:#fff;background-color:#2b2b2b;border-color:rgba(0,0,0,0.2)}.btn-github:active:hover,.btn-github.active:hover,.open>.dropdown-toggle.btn-github:hover,.btn-github:active:focus,.btn-github.active:focus,.open>.dropdown-toggle.btn-github:focus,.btn-github:active.focus,.btn-github.active.focus,.open>.dropdown-toggle.btn-github.focus{color:#fff;background-color:#191919;border-color:rgba(0,0,0,0.2)}
.btn-github:active,.btn-github.active,.open>.dropdown-toggle.btn-github{background-image:none}
.btn-github.disabled:hover,.btn-github[disabled]:hover,fieldset[disabled] .btn-github:hover,.btn-github.disabled:focus,.btn-github[disabled]:focus,fieldset[disabled] .btn-github:focus,.btn-github.disabled.focus,.btn-github[disabled].focus,fieldset[disabled] .btn-github.focus{background-color:#444;border-color:rgba(0,0,0,0.2)}
.btn-github .badge{color:#444;background-color:#fff}
.btn-google{color:#fff;background-color:#dd4b39;border-color:rgba(0,0,0,0.2)}.btn-google:focus,.btn-google.focus{color:#fff;background-color:#c23321;border-color:rgba(0,0,0,0.2)}
.btn-google:hover{color:#fff;background-color:#c23321;border-color:rgba(0,0,0,0.2)}
.btn-google:active,.btn-google.active,.open>.dropdown-toggle.btn-google{color:#fff;background-color:#c23321;border-color:rgba(0,0,0,0.2)}.btn-google:active:hover,.btn-google.active:hover,.open>.dropdown-toggle.btn-google:hover,.btn-google:active:focus,.btn-google.active:focus,.open>.dropdown-toggle.btn-google:focus,.btn-google:active.focus,.btn-google.active.focus,.open>.dropdown-toggle.btn-google.focus{color:#fff;background-color:#a32b1c;border-color:rgba(0,0,0,0.2)}
.btn-google:active,.btn-google.active,.open>.dropdown-toggle.btn-google{background-image:none}
.btn-google.disabled:hover,.btn-google[disabled]:hover,fieldset[disabled] .btn-google:hover,.btn-google.disabled:focus,.btn-google[disabled]:focus,fieldset[disabled] .btn-google:focus,.btn-google.disabled.focus,.btn-google[disabled].focus,fieldset[disabled] .btn-google.focus{background-color:#dd4b39;border-color:rgba(0,0,0,0.2)}
.btn-google .badge{color:#dd4b39;background-color:#fff}
.btn-instagram{color:#fff;background-color:#3f729b;border-color:rgba(0,0,0,0.2)}.btn-instagram:focus,.btn-instagram.focus{color:#fff;background-color:#305777;border-color:rgba(0,0,0,0.2)}
.btn-instagram:hover{color:#fff;background-color:#305777;border-color:rgba(0,0,0,0.2)}
.btn-instagram:active,.btn-instagram.active,.open>.dropdown-toggle.btn-instagram{color:#fff;background-color:#305777;border-color:rgba(0,0,0,0.2)}.btn-instagram:active:hover,.btn-instagram.active:hover,.open>.dropdown-toggle.btn-instagram:hover,.btn-instagram:active:focus,.btn-instagram.active:focus,.open>.dropdown-toggle.btn-instagram:focus,.btn-instagram:active.focus,.btn-instagram.active.focus,.open>.dropdown-toggle.btn-instagram.focus{color:#fff;background-color:#26455d;border-color:rgba(0,0,0,0.2)}
.btn-instagram:active,.btn-instagram.active,.open>.dropdown-toggle.btn-instagram{background-image:none}
.btn-instagram.disabled:hover,.btn-instagram[disabled]:hover,fieldset[disabled] .btn-instagram:hover,.btn-instagram.disabled:focus,.btn-instagram[disabled]:focus,fieldset[disabled] .btn-instagram:focus,.btn-instagram.disabled.focus,.btn-instagram[disabled].focus,fieldset[disabled] .btn-instagram.focus{background-color:#3f729b;border-color:rgba(0,0,0,0.2)}
.btn-instagram .badge{color:#3f729b;background-color:#fff}
.btn-linkedin{color:#fff;background-color:#007bb6;border-color:rgba(0,0,0,0.2)}.btn-linkedin:focus,.btn-linkedin.focus{color:#fff;background-color:#005983;border-color:rgba(0,0,0,0.2)}
.btn-linkedin:hover{color:#fff;background-color:#005983;border-color:rgba(0,0,0,0.2)}
.btn-linkedin:active,.btn-linkedin.active,.open>.dropdown-toggle.btn-linkedin{color:#fff;background-color:#005983;border-color:rgba(0,0,0,0.2)}.btn-linkedin:active:hover,.btn-linkedin.active:hover,.open>.dropdown-toggle.btn-linkedin:hover,.btn-linkedin:active:focus,.btn-linkedin.active:focus,.open>.dropdown-toggle.btn-linkedin:focus,.btn-linkedin:active.focus,.btn-linkedin.active.focus,.open>.dropdown-toggle.btn-linkedin.focus{color:#fff;background-color:#00405f;border-color:rgba(0,0,0,0.2)}
.btn-linkedin:active,.btn-linkedin.active,.open>.dropdown-toggle.btn-linkedin{background-image:none}
.btn-linkedin.disabled:hover,.btn-linkedin[disabled]:hover,fieldset[disabled] .btn-linkedin:hover,.btn-linkedin.disabled:focus,.btn-linkedin[disabled]:focus,fieldset[disabled] .btn-linkedin:focus,.btn-linkedin.disabled.focus,.btn-linkedin[disabled].focus,fieldset[disabled] .btn-linkedin.focus{background-color:#007bb6;border-color:rgba(0,0,0,0.2)}
.btn-linkedin .badge{color:#007bb6;background-color:#fff}
.btn-microsoft{color:#fff;background-color:#2672ec;border-color:rgba(0,0,0,0.2)}.btn-microsoft:focus,.btn-microsoft.focus{color:#fff;background-color:#125acd;border-color:rgba(0,0,0,0.2)}
.btn-microsoft:hover{color:#fff;background-color:#125acd;border-color:rgba(0,0,0,0.2)}
.btn-microsoft:active,.btn-microsoft.active,.open>.dropdown-toggle.btn-microsoft{color:#fff;background-color:#125acd;border-color:rgba(0,0,0,0.2)}.btn-microsoft:active:hover,.btn-microsoft.active:hover,.open>.dropdown-toggle.btn-microsoft:hover,.btn-microsoft:active:focus,.btn-microsoft.active:focus,.open>.dropdown-toggle.btn-microsoft:focus,.btn-microsoft:active.focus,.btn-microsoft.active.focus,.open>.dropdown-toggle.btn-microsoft.focus{color:#fff;background-color:#0f4bac;border-color:rgba(0,0,0,0.2)}
.btn-microsoft:active,.btn-microsoft.active,.open>.dropdown-toggle.btn-microsoft{background-image:none}
.btn-microsoft.disabled:hover,.btn-microsoft[disabled]:hover,fieldset[disabled] .btn-microsoft:hover,.btn-microsoft.disabled:focus,.btn-microsoft[disabled]:focus,fieldset[disabled] .btn-microsoft:focus,.btn-microsoft.disabled.focus,.btn-microsoft[disabled].focus,fieldset[disabled] .btn-microsoft.focus{background-color:#2672ec;border-color:rgba(0,0,0,0.2)}
.btn-microsoft .badge{color:#2672ec;background-color:#fff}
.btn-odnoklassniki{color:#fff;background-color:#f4731c;border-color:rgba(0,0,0,0.2)}.btn-odnoklassniki:focus,.btn-odnoklassniki.focus{color:#fff;background-color:#d35b0a;border-color:rgba(0,0,0,0.2)}
.btn-odnoklassniki:hover{color:#fff;background-color:#d35b0a;border-color:rgba(0,0,0,0.2)}
.btn-odnoklassniki:active,.btn-odnoklassniki.active,.open>.dropdown-toggle.btn-odnoklassniki{color:#fff;background-color:#d35b0a;border-color:rgba(0,0,0,0.2)}.btn-odnoklassniki:active:hover,.btn-odnoklassniki.active:hover,.open>.dropdown-toggle.btn-odnoklassniki:hover,.btn-odnoklassniki:active:focus,.btn-odnoklassniki.active:focus,.open>.dropdown-toggle.btn-odnoklassniki:focus,.btn-odnoklassniki:active.focus,.btn-odnoklassniki.active.focus,.open>.dropdown-toggle.btn-odnoklassniki.focus{color:#fff;background-color:#b14c09;border-color:rgba(0,0,0,0.2)}
.btn-odnoklassniki:active,.btn-odnoklassniki.active,.open>.dropdown-toggle.btn-odnoklassniki{background-image:none}
.btn-odnoklassniki.disabled:hover,.btn-odnoklassniki[disabled]:hover,fieldset[disabled] .btn-odnoklassniki:hover,.btn-odnoklassniki.disabled:focus,.btn-odnoklassniki[disabled]:focus,fieldset[disabled] .btn-odnoklassniki:focus,.btn-odnoklassniki.disabled.focus,.btn-odnoklassniki[disabled].focus,fieldset[disabled] .btn-odnoklassniki.focus{background-color:#f4731c;border-color:rgba(0,0,0,0.2)}
.btn-odnoklassniki .badge{color:#f4731c;background-color:#fff}
.btn-openid{color:#fff;background-color:#f7931e;border-color:rgba(0,0,0,0.2)}.btn-openid:focus,.btn-openid.focus{color:#fff;background-color:#da7908;border-color:rgba(0,0,0,0.2)}
.btn-openid:hover{color:#fff;background-color:#da7908;border-color:rgba(0,0,0,0.2)}
.btn-openid:active,.btn-openid.active,.open>.dropdown-toggle.btn-openid{color:#fff;background-color:#da7908;border-color:rgba(0,0,0,0.2)}.btn-openid:active:hover,.btn-openid.active:hover,.open>.dropdown-toggle.btn-openid:hover,.btn-openid:active:focus,.btn-openid.active:focus,.open>.dropdown-toggle.btn-openid:focus,.btn-openid:active.focus,.btn-openid.active.focus,.open>.dropdown-toggle.btn-openid.focus{color:#fff;background-color:#b86607;border-color:rgba(0,0,0,0.2)}
.btn-openid:active,.btn-openid.active,.open>.dropdown-toggle.btn-openid{background-image:none}
.btn-openid.disabled:hover,.btn-openid[disabled]:hover,fieldset[disabled] .btn-openid:hover,.btn-openid.disabled:focus,.btn-openid[disabled]:focus,fieldset[disabled] .btn-openid:focus,.btn-openid.disabled.focus,.btn-openid[disabled].focus,fieldset[disabled] .btn-openid.focus{background-color:#f7931e;border-color:rgba(0,0,0,0.2)}
.btn-openid .badge{color:#f7931e;background-color:#fff}
.btn-pinterest{color:#fff;background-color:#cb2027;border-color:rgba(0,0,0,0.2)}.btn-pinterest:focus,.btn-pinterest.focus{color:#fff;background-color:#9f191f;border-color:rgba(0,0,0,0.2)}
.btn-pinterest:hover{color:#fff;background-color:#9f191f;border-color:rgba(0,0,0,0.2)}
.btn-pinterest:active,.btn-pinterest.active,.open>.dropdown-toggle.btn-pinterest{color:#fff;background-color:#9f191f;border-color:rgba(0,0,0,0.2)}.btn-pinterest:active:hover,.btn-pinterest.active:hover,.open>.dropdown-toggle.btn-pinterest:hover,.btn-pinterest:active:focus,.btn-pinterest.active:focus,.open>.dropdown-toggle.btn-pinterest:focus,.btn-pinterest:active.focus,.btn-pinterest.active.focus,.open>.dropdown-toggle.btn-pinterest.focus{color:#fff;background-color:#801419;border-color:rgba(0,0,0,0.2)}
.btn-pinterest:active,.btn-pinterest.active,.open>.dropdown-toggle.btn-pinterest{background-image:none}
.btn-pinterest.disabled:hover,.btn-pinterest[disabled]:hover,fieldset[disabled] .btn-pinterest:hover,.btn-pinterest.disabled:focus,.btn-pinterest[disabled]:focus,fieldset[disabled] .btn-pinterest:focus,.btn-pinterest.disabled.focus,.btn-pinterest[disabled].focus,fieldset[disabled] .btn-pinterest.focus{background-color:#cb2027;border-color:rgba(0,0,0,0.2)}
.btn-pinterest .badge{color:#cb2027;background-color:#fff}
.btn-reddit{color:#000;background-color:#eff7ff;border-color:rgba(0,0,0,0.2)}.btn-reddit:focus,.btn-reddit.focus{color:#000;background-color:#bcddff;border-color:rgba(0,0,0,0.2)}
.btn-reddit:hover{color:#000;background-color:#bcddff;border-color:rgba(0,0,0,0.2)}
.btn-reddit:active,.btn-reddit.active,.open>.dropdown-toggle.btn-reddit{color:#000;background-color:#bcddff;border-color:rgba(0,0,0,0.2)}.btn-reddit:active:hover,.btn-reddit.active:hover,.open>.dropdown-toggle.btn-reddit:hover,.btn-reddit:active:focus,.btn-reddit.active:focus,.open>.dropdown-toggle.btn-reddit:focus,.btn-reddit:active.focus,.btn-reddit.active.focus,.open>.dropdown-toggle.btn-reddit.focus{color:#000;background-color:#98ccff;border-color:rgba(0,0,0,0.2)}
.btn-reddit:active,.btn-reddit.active,.open>.dropdown-toggle.btn-reddit{background-image:none}
.btn-reddit.disabled:hover,.btn-reddit[disabled]:hover,fieldset[disabled] .btn-reddit:hover,.btn-reddit.disabled:focus,.btn-reddit[disabled]:focus,fieldset[disabled] .btn-reddit:focus,.btn-reddit.disabled.focus,.btn-reddit[disabled].focus,fieldset[disabled] .btn-reddit.focus{background-color:#eff7ff;border-color:rgba(0,0,0,0.2)}
.btn-reddit .badge{color:#eff7ff;background-color:#000}
.btn-soundcloud{color:#fff;background-color:#f50;border-color:rgba(0,0,0,0.2)}.btn-soundcloud:focus,.btn-soundcloud.focus{color:#fff;background-color:#c40;border-color:rgba(0,0,0,0.2)}
.btn-soundcloud:hover{color:#fff;background-color:#c40;border-color:rgba(0,0,0,0.2)}
.btn-soundcloud:active,.btn-soundcloud.active,.open>.dropdown-toggle.btn-soundcloud{color:#fff;background-color:#c40;border-color:rgba(0,0,0,0.2)}.btn-soundcloud:active:hover,.btn-soundcloud.active:hover,.open>.dropdown-toggle.btn-soundcloud:hover,.btn-soundcloud:active:focus,.btn-soundcloud.active:focus,.open>.dropdown-toggle.btn-soundcloud:focus,.btn-soundcloud:active.focus,.btn-soundcloud.active.focus,.open>.dropdown-toggle.btn-soundcloud.focus{color:#fff;background-color:#a83800;border-color:rgba(0,0,0,0.2)}
.btn-soundcloud:active,.btn-soundcloud.active,.open>.dropdown-toggle.btn-soundcloud{background-image:none}
.btn-soundcloud.disabled:hover,.btn-soundcloud[disabled]:hover,fieldset[disabled] .btn-soundcloud:hover,.btn-soundcloud.disabled:focus,.btn-soundcloud[disabled]:focus,fieldset[disabled] .btn-soundcloud:focus,.btn-soundcloud.disabled.focus,.btn-soundcloud[disabled].focus,fieldset[disabled] .btn-soundcloud.focus{background-color:#f50;border-color:rgba(0,0,0,0.2)}
.btn-soundcloud .badge{color:#f50;background-color:#fff}
.btn-tumblr{color:#fff;background-color:#2c4762;border-color:rgba(0,0,0,0.2)}.btn-tumblr:focus,.btn-tumblr.focus{color:#fff;background-color:#1c2d3f;border-color:rgba(0,0,0,0.2)}
.btn-tumblr:hover{color:#fff;background-color:#1c2d3f;border-color:rgba(0,0,0,0.2)}
.btn-tumblr:active,.btn-tumblr.active,.open>.dropdown-toggle.btn-tumblr{color:#fff;background-color:#1c2d3f;border-color:rgba(0,0,0,0.2)}.btn-tumblr:active:hover,.btn-tumblr.active:hover,.open>.dropdown-toggle.btn-tumblr:hover,.btn-tumblr:active:focus,.btn-tumblr.active:focus,.open>.dropdown-toggle.btn-tumblr:focus,.btn-tumblr:active.focus,.btn-tumblr.active.focus,.open>.dropdown-toggle.btn-tumblr.focus{color:#fff;background-color:#111c26;border-color:rgba(0,0,0,0.2)}
.btn-tumblr:active,.btn-tumblr.active,.open>.dropdown-toggle.btn-tumblr{background-image:none}
.btn-tumblr.disabled:hover,.btn-tumblr[disabled]:hover,fieldset[disabled] .btn-tumblr:hover,.btn-tumblr.disabled:focus,.btn-tumblr[disabled]:focus,fieldset[disabled] .btn-tumblr:focus,.btn-tumblr.disabled.focus,.btn-tumblr[disabled].focus,fieldset[disabled] .btn-tumblr.focus{background-color:#2c4762;border-color:rgba(0,0,0,0.2)}
.btn-tumblr .badge{color:#2c4762;background-color:#fff}
.btn-twitter{color:#fff;background-color:#55acee;border-color:rgba(0,0,0,0.2)}.btn-twitter:focus,.btn-twitter.focus{color:#fff;background-color:#2795e9;border-color:rgba(0,0,0,0.2)}
.btn-twitter:hover{color:#fff;background-color:#2795e9;border-color:rgba(0,0,0,0.2)}
.btn-twitter:active,.btn-twitter.active,.open>.dropdown-toggle.btn-twitter{color:#fff;background-color:#2795e9;border-color:rgba(0,0,0,0.2)}.btn-twitter:active:hover,.btn-twitter.active:hover,.open>.dropdown-toggle.btn-twitter:hover,.btn-twitter:active:focus,.btn-twitter.active:focus,.open>.dropdown-toggle.btn-twitter:focus,.btn-twitter:active.focus,.btn-twitter.active.focus,.open>.dropdown-toggle.btn-twitter.focus{color:#fff;background-color:#1583d7;border-color:rgba(0,0,0,0.2)}
.btn-twitter:active,.btn-twitter.active,.open>.dropdown-toggle.btn-twitter{background-image:none}
.btn-twitter.disabled:hover,.btn-twitter[disabled]:hover,fieldset[disabled] .btn-twitter:hover,.btn-twitter.disabled:focus,.btn-twitter[disabled]:focus,fieldset[disabled] .btn-twitter:focus,.btn-twitter.disabled.focus,.btn-twitter[disabled].focus,fieldset[disabled] .btn-twitter.focus{background-color:#55acee;border-color:rgba(0,0,0,0.2)}
.btn-twitter .badge{color:#55acee;background-color:#fff}
.btn-vimeo{color:#fff;background-color:#1ab7ea;border-color:rgba(0,0,0,0.2)}.btn-vimeo:focus,.btn-vimeo.focus{color:#fff;background-color:#1295bf;border-color:rgba(0,0,0,0.2)}
.btn-vimeo:hover{color:#fff;background-color:#1295bf;border-color:rgba(0,0,0,0.2)}
.btn-vimeo:active,.btn-vimeo.active,.open>.dropdown-toggle.btn-vimeo{color:#fff;background-color:#1295bf;border-color:rgba(0,0,0,0.2)}.btn-vimeo:active:hover,.btn-vimeo.active:hover,.open>.dropdown-toggle.btn-vimeo:hover,.btn-vimeo:active:focus,.btn-vimeo.active:focus,.open>.dropdown-toggle.btn-vimeo:focus,.btn-vimeo:active.focus,.btn-vimeo.active.focus,.open>.dropdown-toggle.btn-vimeo.focus{color:#fff;background-color:#0f7b9f;border-color:rgba(0,0,0,0.2)}
.btn-vimeo:active,.btn-vimeo.active,.open>.dropdown-toggle.btn-vimeo{background-image:none}
.btn-vimeo.disabled:hover,.btn-vimeo[disabled]:hover,fieldset[disabled] .btn-vimeo:hover,.btn-vimeo.disabled:focus,.btn-vimeo[disabled]:focus,fieldset[disabled] .btn-vimeo:focus,.btn-vimeo.disabled.focus,.btn-vimeo[disabled].focus,fieldset[disabled] .btn-vimeo.focus{background-color:#1ab7ea;border-color:rgba(0,0,0,0.2)}
.btn-vimeo .badge{color:#1ab7ea;background-color:#fff}
.btn-vk{color:#fff;background-color:#587ea3;border-color:rgba(0,0,0,0.2)}.btn-vk:focus,.btn-vk.focus{color:#fff;background-color:#466482;border-color:rgba(0,0,0,0.2)}
.btn-vk:hover{color:#fff;background-color:#466482;border-color:rgba(0,0,0,0.2)}
.btn-vk:active,.btn-vk.active,.open>.dropdown-toggle.btn-vk{color:#fff;background-color:#466482;border-color:rgba(0,0,0,0.2)}.btn-vk:active:hover,.btn-vk.active:hover,.open>.dropdown-toggle.btn-vk:hover,.btn-vk:active:focus,.btn-vk.active:focus,.open>.dropdown-toggle.btn-vk:focus,.btn-vk:active.focus,.btn-vk.active.focus,.open>.dropdown-toggle.btn-vk.focus{color:#fff;background-color:#3a526b;border-color:rgba(0,0,0,0.2)}
.btn-vk:active,.btn-vk.active,.open>.dropdown-toggle.btn-vk{background-image:none}
.btn-vk.disabled:hover,.btn-vk[disabled]:hover,fieldset[disabled] .btn-vk:hover,.btn-vk.disabled:focus,.btn-vk[disabled]:focus,fieldset[disabled] .btn-vk:focus,.btn-vk.disabled.focus,.btn-vk[disabled].focus,fieldset[disabled] .btn-vk.focus{background-color:#587ea3;border-color:rgba(0,0,0,0.2)}
.btn-vk .badge{color:#587ea3;background-color:#fff}
.btn-yahoo{color:#fff;background-color:#720e9e;border-color:rgba(0,0,0,0.2)}.btn-yahoo:focus,.btn-yahoo.focus{color:#fff;background-color:#500a6f;border-color:rgba(0,0,0,0.2)}
.btn-yahoo:hover{color:#fff;background-color:#500a6f;border-color:rgba(0,0,0,0.2)}
.btn-yahoo:active,.btn-yahoo.active,.open>.dropdown-toggle.btn-yahoo{color:#fff;background-color:#500a6f;border-color:rgba(0,0,0,0.2)}.btn-yahoo:active:hover,.btn-yahoo.active:hover,.open>.dropdown-toggle.btn-yahoo:hover,.btn-yahoo:active:focus,.btn-yahoo.active:focus,.open>.dropdown-toggle.btn-yahoo:focus,.btn-yahoo:active.focus,.btn-yahoo.active.focus,.open>.dropdown-toggle.btn-yahoo.focus{color:#fff;background-color:#39074e;border-color:rgba(0,0,0,0.2)}
.btn-yahoo:active,.btn-yahoo.active,.open>.dropdown-toggle.btn-yahoo{background-image:none}
.btn-yahoo.disabled:hover,.btn-yahoo[disabled]:hover,fieldset[disabled] .btn-yahoo:hover,.btn-yahoo.disabled:focus,.btn-yahoo[disabled]:focus,fieldset[disabled] .btn-yahoo:focus,.btn-yahoo.disabled.focus,.btn-yahoo[disabled].focus,fieldset[disabled] .btn-yahoo.focus{background-color:#720e9e;border-color:rgba(0,0,0,0.2)}
.btn-yahoo .badge{color:#720e9e;background-color:#fff}
.loginIntroText{font-family: 'Noto Serif', serif; font-style: italic;}

.swiper-button-prev, .swiper-button-next {
  color: #fff;
  &::after {
    font-size: 24px;
  }
}
.success-message {
  color: #28a745;
}

.balance-responsvie {
  @media (max-width: 768px) {
    font-size: 1.5em !important;
  }
}

.mypay {
  h2 {
    font-size: 15px;
    color: #8a96a3;
    padding: 0 4px 10px;
  }
  strong {
    font-size: 16px;
    font-weight: 500;
  }
  .bigger {
    font-size: 20px;
  }
  .rc-slider-handle {
    border: 0;
    .custom-handle{
      width: 18px;
      height: 43px;
      border-radius: 4px;
      cursor: pointer;
      border: 2px solid #8a96a3;
      top: -14px;
      position: absolute;
      background-color: #fff;
      span {
        position: absolute;
        top: 115%;
        font-size: 16px;
        color: #8a96a3;
      }
    }
  }
  .followers-slider-wrap, .subscription-slider-wrap {
    margin: 50px 0 80px;
    .min-value, .max-value { 
      font-size: 16px;
      margin-top: -6px;
    }
    .min-value {
      margin-right: 16px;
    }
    .max-value {
      margin-left: 16px;
    }
  }
  .followers-slider, .subscription-slider {
    .rc-slider-rail, .rc-slider-track {
      background-color: #8a96a3 !important;
    }
    // .rc-slider-handle {
    //   width: 18px;
    //   height: 43px;
    //   border-radius: 4px;
    //   cursor: pointer;
    //   border: 2px solid #8a96a3;
    //   top: -9px;
    // }
  }
}

.new-header {
  max-height: 700px;
  @media (max-width: 767px){
    max-height: 600px;
  }
}

.copy-ptofile {
  position: absolute;
  right: 0;
}

.post-detail {
  .text-post-container{
    min-height: 350px;
  }
}

.text-post-container {
  min-height: 300px;
  width: 100%;
  h2 {
    color: #fff;
  }
}

.contact-us-form {
  .description {
    font-size: 16px;
  }
  .sticky-submit-btn {
    button {
      width: 200px;
    }
  }
}

.check-terms {
  label {
    cursor: pointer;
    font-weight: 500;
    color: #7c8494;
  }
  .terms-checkbox {
    height: 18px;
    width: 18px;
    margin-right: 6px;
    margin-top: 2px;
  }
}

.wallet-info {
  margin-top: 10px;
  margin-bottom: 30px;
  cursor: pointer;
  i {
    color: #969696;
    font-size: 24px;
  }
}

.send-tip-title {
  color: #C2C9D6 !important;
  margin-right: 10px !important;
  padding: 1px 0px;
  .currency-symbol {
    // margin-top: 3px;
    margin-left: 4px;
  }
}

.wallet-info-modal {
  .text-muted {
    font-size: medium;
  }
}

.currency-symbol {
  width: 22px !important;
  height: 22px !important;
  margin-bottom: 0 !important;
}
.send-tip.currency-symbol{
  // width: 21px !important;
  // height: 21px !important;
  margin-top: 1px !important;
}

.wallet-transaction-accordion {
  .card-header {
    padding: 4px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 0;
    i {
      float: right;
    }
  }
  .card-body {
    padding: 0;
  }
}

.mobile-header h3 {
  font-size: 20px;
  color: #969696;
  font-weight: 800;
}

.wallet-balance-responsive {
  .available-balance .text-muted, span {
    color: #000 !important;
  }
  .available-balance .text-muted {
    font-size: 18px;
  }
}

/* wallet tabs */
.wallet-tabs {
  margin-top: 35px;
  .tabs li { display: inline-block; padding: 0 10px 6px; color: #7C8494; cursor: pointer;}
  .tabs li.current { color: #187BCD; border-bottom: 1px solid; }
  .tabs li:last-child { margin-right: 20px; }
  .tabs li { border-bottom: 1px solid transparent; font-weight: bold;}
  .tabs { text-align: left; }
  .tab-content{display:none; width: 100%; padding: 0;}
  .tab-content.current{display:block;}
  .tabs li img {
    margin-right: 4px;
  }
  @media(max-width:767px) {
    .tabs {
      padding: 0 15px;
    }
  }
}

.wallet-statement-info {
  padding: 4px 8px;
  border-top: 1px solid #eeeeee;
  label, p {
    margin: 0;
  }
  label {
    text-transform: capitalize;
  }
}

.disabled-chat{
  background-color: #dbdbdb !important;
}

.disable-chat-form{
  cursor: not-allowed !important;
}

.chat-media-files {
  position: relative;
  li {
    @media only screen and (max-width: 767px){
      width: 115px;
      .uploaded-image{
        height: 115px !important;
      }
    }
  }
  .chat-media-loader {
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 4px;
  }
  .uploaded .uploaded-image {
    width: 100px;
    height: 100px;
    padding-bottom: calc(21% - 1rem);
    position: relative;
    margin: 0.5rem 0;
    background: #f3f3f3;
    cursor: default;
    border-radius: 10px;
    overflow: hidden;
  }
  .uploaded .uploaded-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
  }
  .uploaded .uploaded-image video {
    max-height: 100%;
    max-width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .uploaded .uploaded-image .delete-image {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: #187bcd;
    -webkit-appearance: none;
    border: none;
  }
  .delete-all-image {
    cursor: pointer;
    position: absolute;
    top: -10px;
    right: -10px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: #187bcd;
    -webkit-appearance: none;
    border: none;
    i {
      color: #fff;
      font-size: 0.75rem;
    }
  }

  .uploaded .uploaded-image .delete-image i {
    color: #fff;
    font-size: 0.75rem;
  }
  @media only screen and (max-width: 768px) {
    .uploaded .uploaded-image,
    .upload-text {
      width: 100%;
      height: 200px;
      padding-bottom: 0;
      margin: 0;
    }
    .uploaded .uploaded-image .delete-image {
      top: 7px;
      right: 7px;
      width: 30px;
      height: 30px;
    }
  }
}

.pointer {
  cursor: pointer !important;
}

.create-broadcast-modal {
  .new_post_option {
    border: 0px solid #dfe2e7;
    // border-bottom: 1px solid #dfe2e7;
    padding: 15px 0;
  }
  .new_post_option ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  .new_post_option li {
    display: inline-block;
  }
  .new_post_option li a {
    display: block;
    margin: 5px 15px;
    font-size: 1.6rem;
    color: #88909a;
    transition: none;
    &.active {
      color: #187bcd;
    }
  }
  @media only screen and (max-width: 576px) {
    .new__post__image {
      margin-top: 28px;
    }
    .new_post_option {
      position: unset;
      left: 0;
      right: 0;
      background: #fff;
      bottom: 0;
      z-index: 99;
    }
  }
  .image-uploader .uploaded .uploaded-image {
    width: 340px;
    height: 220px;
    padding-bottom: calc(21% - 1rem);
    position: relative;
    margin: 0.5rem 0;
    background: #f3f3f3;
    cursor: default;
    border-radius: 10px;
    overflow: hidden;
  }
  .image-uploader .uploaded .uploaded-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    display: block;
  }
  .image-uploader .uploaded .uploaded-image video {
    max-height: 100%;
    max-width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .image-uploader .uploaded .uploaded-image .delete-image {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: #187bcd;
    -webkit-appearance: none;
    border: none;
  }
  .image-uploader .uploaded .uploaded-image .delete-image i {
    color: #fff;
    font-size: 1rem;
  }
}

.chat-room {
  @media only screen and (max-width: 767px){
    background-color: #dbdbdb;
    bottom: -60px;
    position: absolute;
    height: 60px;
    width: 100%;
    margin-left: -20px;
  }
}

.chat-media {
  background-position: center;
  width: 300px;
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 4px;
  @media only screen and (max-width: 767px){
    width: 250px;
    height: 250px;
  }
  @media only screen and (max-width: 424px){
    width: 220px;
    height: 220px;
  }
  @media only screen and (max-width: 374px){
    width: 180px;
    height: 180px;
  }
}

.pending-post-container {
  .btn-lock-wrap {
    min-width: 400px;
    h2 {
      color: #000;
      font-size: 22px;
    }
    p {
      font-size: 18px;
    }
    @media only screen and (max-width: 768px){
      min-width: 350px;
      h2 {
        font-size: 20px;
      }
      p {
        font-size: 16px;
      }
    }
    @media only screen and (max-width: 374px){
      min-width: 300px;
      h2 {
        font-size: 18px;
      }
      p {
        font-size: 14px;
      }
    }
  }
}