img {
  border: 0;
  vertical-align: top;
  height: auto;
  max-width: 100%;
  display: block;
}
input,
textarea,
select,
input[type='text'],
input[type='password'],
input[type='datetime'],
input[type='datetime-local'],
input[type='date'],
input[type='month'],
input[type='time'],
input[type='week'],
input[type='number'],
input[type='email'],
input[type='url'],
input[type='search'],
input[type='tel'],
input[type='color'] {
  outline: none !important;
  border: 1px solid #ccc;
  background: #fff;
  height: 50px;
  padding: 0 20px;
  font-family: 'Opan Sans', Arial, Helvetica, sans-serif;
  font-size: 16px;
  width: 100%;
}
input[type='submit'] {
  width: auto;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  padding: 8px 20px;
  color: #fff;
  display: inline-block;
  transition: all 0.4s ease-in-out;
}
input[type='submit']:hover {
  background-color: #00658b;
}
button:focus {
  outline: none;
}
button {
  border: 0;
  cursor: pointer;
}
.sm-d-none {
  display: inline-block;
}
.form-control:focus {
  box-shadow: none !important;
}
ul,
li {
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}
.container {
  max-width: 1170px;
  padding: 0 15px;
  width: 100%;
  margin: 0 auto;
}
header,
section,
footer {
  display: block;
  width: 100%;
}
.comman-background {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
a {
  color: #000;
  text-decoration: none;
  transition: 0.5s all ease-in-out;
}
a:hover {
  text-decoration: none;
}
.custom-btn-wrap {
  margin: 30px 0px 0;
}
.color-white {
  color: #fff;
}
.bg-color-white {
  background-color: #fff;
}
.color-primary {
  color: #187bcd;
}
.bg-color-primary {
  background-color: #187bcd;
}
.color-secondary {
  color: #f0f3fb;
}
.bg-color-secondary {
  background-color: #f0f3fb;
}
.color-red {
  color: #ff3b30;
}
.bg-color-red {
  background-color: #ff3b30;
}
.color-dark {
  color: #000;
}
.bg-color-dark {
  background-color: #000;
}
.bg-color-medium-light-blue {
  background-color: #187bcd;
}
.bg-color-light-blue {
  background-color: #4286f5;
}
.bg-color-dark-blue {
  background-color: #3b5999;
}
::-webkit-scrollbar {
  display: none;
}
.border-0 {
  border: 0 !important;
}
.rounded-5 {
  border-radius: 5px;
}
.text-center {
  text-align: center !important;
}
.custom-btn {
  padding: 10px 15px;
  margin: 10px 0px;
  display: inline-flex;
  border-radius: 30px;
  transition: 0.5s ease-in-out;
  align-items: center;
  justify-content: center;
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 1px;
  color: #fff;
}
.ex-btn {
  min-width: 100px;
  height: 32px;
}
.custom-btn:hover {
  background-color: #000;
  color: #fff;
  transition: 0.5s ease-in-out;
}
.media {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 10px 0;
}
h1 {
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 0.48px;
}
h2 {
  font-weight: bold;
  font-size: 24px;
  line-height: 22px;
}
h3 {
  font-size: 17px;
  line-height: 22px;
}
h4 {
  font-size: 15px;
  line-height: 20px;
}
h5 {
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
}
h6 {
  font-size: 12px;
  line-height: 14px;
}

:placeholder {
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  opacity: 0.5;
  color: #b7becd;
  font-family: 'SF Pro Text';
}

/*------------------home-section------------------*/

.home-section {
  height: 100vh;
}
.home-section-wrap {
  display: flex;
  height: 100%;
  align-items: center;
}
.home-left-wrap {
  max-width: 327px;
  margin-left: auto;
  margin-right: 380px;
}
.home-right-wrap {
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
}
.home-right-wrap img {
  max-width: 300px;
}
.signup-wrap input[type='email'] {
  border: 0;
  min-width: 327px;
  height: 52px;
  left: 100px;
  top: 475px;
  background: #f4f5f9;
  border-radius: 28px;
}
.left-img-wrap {
  position: relative;
  left: -80px;
}
.policy-wrap a {
  font-weight: 600;
  color: #7c8494;
}
.home-left-wrap p {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}
.policy-wrap {
  color: #8991a0;
  display: block;
  text-align: center;
}

/*---------------login-section----------------------*/

.login-section .user-pic {
  width: 36px;
  height: 36px;
  background-color: #caf4ff;
  border-radius: 100%;
  overflow: hidden;
  margin-right: 5px;
}
.login-section .user-pic img {
  object-fit: contain;
}
.login-section .media-body p {
  margin-bottom: 0;
}
.login-section .media-body h5 {
  margin-top: 0;
}
.home-section input[type='password'] {
  padding: 0px;
  border: 0;
  border-bottom: 1px solid rgba(223, 226, 231, 0.55);
  background-image: url('../images/Icon_Eye.svg');
  background-position: right;
  background-repeat: no-repeat;
}
.f-password-wrap input[type='password'] {
  background: none;
}
.f-password-wrap label {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #7c8494;
  text-align: center;
  display: block;
}

/*---------------registration-section----------------------*/

.setting-section .upload-pic-wrap .user-pic,
.registration-section .user-pic {
  width: 104px;
  height: 104px;
  background: #f1f2ff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  overflow: hidden;
  margin-right: 5px;
}
input[type='date']::-webkit-clear-button {
  display: none;
}
input[type='date']::-webkit-inner-spin-button {
  display: block;
}
input[type='date']::-webkit-calendar-picker-indicator {
  width: 100%;
  cursor: pointer;
  opacity: 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
}
.registration-section .signup-wrap label {
  font-size: 15px;
  color: #7c8494;
  font-weight: 400;
  display: block;
  margin: 15px 0px 0;
}
.registration-section button.custom-btn.bg-color-secondary {
  border-radius: 10px;
  border: 0;
  color: #8991a0;
  font-size: 18px;
  line-height: 22px;
  min-width: 160px;
  font-weight: 400;
}
.gender-wrap .gender li {
  border: 0;
  color: #8991a0;
  font-size: 18px;
  line-height: 22px;
  min-width: 160px;
  font-weight: 400;
  height: 51px;
}
.gender-wrap button.custom-btn.bg-color-secondary:hover {
  color: #fff;
}
.gender-wrap .gender li {
  border: 0;
  color: #8991a0;
  font-size: 18px;
  line-height: 22px;
  min-width: 160px;
  font-weight: 400;
}
.gender-wrap .gender label {
  border-radius: 10px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 0;
  height: 51px;
  color: #8991a0;
  font-size: 18px;
  line-height: 22px;
  min-width: 160px;
  font-weight: 400;
}
.gender-wrap ul.gender {
  display: flex;
  margin-top: 5px;
  margin-bottom: 20px;
}
.gender-wrap .gender label {
  margin-top: 0;
}
.gender-wrap .gender li:hover label {
  background: #ddd;
}

/*---------------otp-verify-section----------------------*/

.otp-verify-section input::-webkit-outer-spin-button,
.otp-verify-section input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.otp-verify-section input[type='number'] {
  background: #f4f5f9;
  width: 48px;
  height: 56px;
  border-radius: 6px;
  border: 0;
  padding: 5px;
  text-align: center;
}
/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
.otp-verify-section input[type='number']:focus {
  border: 1px solid #5458f7;
}
.otp-verify-section .home-left-wrap {
  max-width: 450px;
  margin-left: auto;
  margin-right: 270px;
}

/*---------------forgot-password-section----------------------*/

.forgot-password-section .home-left-wrap {
  max-width: 378px;
  margin-right: 300px;
}
.forgot-password-section input[type='email'] {
  border: 0;
  background-color: transparent;
  border-bottom: 1px solid rgba(223, 226, 231, 0.55);
  border-radius: 0;
  padding-left: 0;
}
.forgot-password-section input[type='email']:focus {
  border-bottom: 1px solid #5458f7;
}

/*-----------------------------feed-section-----------------------------*/
.feed-header {
  box-shadow: 0px 0.5px 0px rgba(0, 0, 0, 0.117216);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  height: 69px;
  position: fixed;
  max-width: 1168px;
  width: 100%;
  top: 0;
  background-color: #fff;
  z-index: 99;
}
.feed-header-menu li {
  display: inline-block;
  margin: 0 5px;
  max-width: 30px;
}
.feed-logo {
  width: 10%;
}
.feed-logo img {
  max-width: 36px;
}

.feed-right {
  width: 40%;
}
.feed-left {
  width: 60%;
  border-right: 1px solid #dddddd;
}
.slide > div {
  border: 1.5px solid #e0e4eb;
  height: 70px;
  width: 70px;
  border-radius: 100%;
  overflow: hidden;
  background-color: #e7eaf0;
  margin: 0 auto;
}
.plus-icon {
  position: relative;
  overflow: visible !important;
}
.plus-icon i {
  position: absolute;
  right: 0px;
  bottom: 5px;
  z-index: 9;
  font-size: 20px;
  color: #187bcd;
  border: 1px solid #fff;
  border-radius: 100%;
}
.slide > div img {
  height: 100%;
  object-fit: contain;
  border: 3px solid #fff;
  width: 100%;
  border-radius: 100%;
}

.slide {
  padding: 0 8px;
}
.feed-title {
  font-size: 20px;
  letter-spacing: 0.32px;
}
.sldebar-wrap {
  padding: 10px 0px 10px 20px;
}

.sldebar-wrap .moment-wrap .user-pic img {
  object-fit: contain;
}
.sldebar-wrap .moment-wrap .user-pic {
  width: 52px;
  height: 52px;
  background: #f3f5f8;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.moment-wrap .media-body {
  border-bottom: 1px solid #dfe2e7;
}

li.artical-wrap {
  box-shadow: 0px 4px 4px rgba(201, 205, 211, 0.5);
}
.artical-header {
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dropdown-user {
  cursor: pointer;
}
.artical-footer {
  background: #fff;
}
.commants-wrap {
  font-weight: 400;
}
.commants-wrap h4 {
  font-weight: normal;
}

.artical-body .btn-lock-wrap {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 40px;
  display: flex;
  flex-direction: column;
}
.artical-body .locked {
  max-height: 400px;
  overflow: hidden;
}
.btn-lock-wrap img {
  margin: 0 auto 70px;
}
.likes-commants-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.likes-commants-wrap span img {
  display: inline-block;
}
.likes-commants-wrap span {
  margin-right: 25px;
  display: inline-block;
}
a#subscribe-btn {
  letter-spacing: -0.41px;
}
.lock-comment {
  display: none;
}
.mobile-footer {
  display: none;
}
.top-rebellions {
  display: none;
}
.top-rebellions h5 {
  font-weight: 600;
  padding-left: 20px;
}
.top-rebellions .slide {
  padding: 0 12px;
}

/*-------------------------setting-section-------------------------------*/

.setting-section .feed-right {
  width: 65%;
  padding: 0 20px;
}
.card-wrap {
  padding: 10px 0;
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid #f1f1f1;
}

.options p {
  font-size: 17px;
  line-height: 22px;
  font-weight: 400;
  letter-spacing: -0.41px;
  margin-bottom: 0px;
}
.media.options {
  align-items: center;
  min-height: 50px;
}
.media.options span {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.154px;
  color: #7c8494;
}
.media.options .custom-btn {
  font-style: normal;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0px;
  margin: 5px 0;
}
.profile-details p {
  margin-top: 3px;
  line-height: 28px;
  font-size: 22px;
  margin-bottom: 0;
}
.media.profile-details .media-body {
  padding-left: 8px;
  margin-bottom: 0;
}
.media.profile-details .user-pic {
  width: 72px;
  height: 72px;
}
.media.profile-details .user-pic img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.cover-img {
  background-image: url(../images/cover-img.jpg);
  height: 200px;
  display: flex;
  align-items: flex-end;
}
.upload-pic-wrap {
  display: flex;
  justify-content: space-between;
}

.form-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #dfe2e7;
  position: relative;
  padding: 5px 0;
}
.form-group input,
.form-group select,
.form-group textarea {
  width: 90%;
  padding-left: 10px;
}
.form-group.flex-column-wrap {
  flex-direction: column;
  align-items: flex-start;
  margin-top: 20px;
}
.form-group.flex-column-wrap textarea {
  width: 100%;
  padding-left: 0;
  height: 40px;
}
.gender {
  list-style-type: none;
  margin: 12px 0 7px 0;
  padding: 0;
}
.gender li {
  display: inline-block;
  margin: 0 5px 0 0;
  width: 73px;
  height: 28px;
  position: relative;
}
.gender label,
.gender input {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.gender input[type='radio'] {
  opacity: 0.01;
  z-index: 100;
}
.gender input[type='radio']:checked + label,
.Checked + label {
  background: #f1f2ff;
  color: #5458f7;
}
.gender label {
  padding: 5px;
  border: 1px solid #ccc;
  cursor: pointer;
  z-index: 90;
  width: 100%;
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.gender label:hover {
  background: #ddd;
}
.gender label {
  font-weight: normal;
  border: 0;
  background: #eff2f3;
  border-radius: 30px;
}
.form-group .gender input {
  height: 100%;
}
.form-group.gender-group {
  justify-content: flex-start;
}
input#exampleInputDate {
  background: none;
  color: #b7becd;
  font-weight: normal;
}

.cross-icon {
  display: none;
}
.header-logo {
  display: inline-block;
}
.feed-header-menu li.save-icon {
  display: none;
}

.comment-follow-wrap a.action-link {
  height: 36px;
  width: 36px;
  border-radius: 100%;
  border: 2px solid #d8dee8;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.comment-follow-wrap a.action-link:hover {
  background: #d8dee8;
}
.comment-follow-wrap {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.comment-follow-wrap button.ex-btn {
  margin-left: 5px;
  min-width: 120px;
  font-weight: normal;
}
.user-strength {
  width: 75%;
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
  margin-bottom: 10px;
}
.followers-following-wrap {
  display: flex;
  text-align: center;
}
.followers-following-wrap h3 {
  color: #fff;
  margin-bottom: 5px;
  margin-top: 0;
  font-size: 18px;
}
.followers-following-wrap span {
  font-size: 15px;
  font-weight: normal;
  color: #fff;
  text-transform: uppercase;
  display: inline-block;
}
.user-name-wrap span {
  color: #fff;
  font-weight: normal;
  margin-top: 5px;
  display: inline-block;
}
.feed-wrap.profile-section .upload-pic-wrap .user-pic {
  height: 120px;
  width: 120px;
}
.upload-pic-wrap p {
  font-weight: normal;
  font-size: 14px;
  color: #1e2023;
}
.location-link-wrap {
  font-weight: normal;
  margin-top: 15px;
  letter-spacing: -0.24px;
}
.location-content-wrap {
  margin: 15px 30px 30px;
}
.location-link-wrap a img {
  display: inline-block;
  padding: 0 5px;
}
.location-link-wrap a {
  margin-right: 15px;
  color: #7c8494;
}
.location-link-wrap a:hover {
  color: #187bcd;
}
.location-content-wrap p {
  font-weight: normal;
  color: #1e2023;
}
.profile-section .upload-pic-wrap .user-pic {
  margin-top: -60px;
}
.followers-following-wrap.mobile-view {
  display: none;
}
.tabing.mobile-tab {
  display: none;
  padding: 20px 0 5px;
}
.tabing.mobile-tab li {
  font-size: 15px;
  line-height: 20px;
  display: inline-block;
  text-align: center;
  width: 100%;
}
.tabing.mobile-tab li.active a {
  border-bottom: 1px solid #5458f7;
  display: block;
}
.profile-section .artical-header {
  padding-left: 15px;
}

/*----------------profile-modal------------------*/
.profile-modal {
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  z-index: 99;
}
.profile-modal-wrap {
  display: flex;
  background: #fff;
  flex-wrap: wrap;
  align-items: center;
}
.profile-modal {
  max-width: 900px;
  margin: 0 auto;
  width: 100%;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.117216);
  border-radius: 2px;
}
.modal-part {
  width: 50%;
  position: relative;
}
.modal-close-icon {
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 1;
  cursor: pointer;
}
body.open-modal {
  overflow: hidden;
}
body.open-modal:before {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(75, 96, 136, 0.6);
  content: '';
  z-index: 9;
  overflow: hidden;
}
body.open-modal .feed-header {
  z-index: 0;
}
.profile-modal-right {
  position: relative;
  padding: 40px;
}
.profile-modal-right li img {
  display: inline-block;
}
.profile-modal-right .user-pic {
  width: 80px;
}
.profile-modal-right .media {
  align-items: center;
}
.profile-modal-right ul {
  margin: 30px 0 40px;
}
.profile-modal-right li {
  margin-bottom: 10px;
  font-style: normal;
  padding-left: 30px;
  font-weight: normal;
  font-size: 15px;
  line-height: 22px;
  position: relative;
}
.profile-modal-right li:before {
  position: absolute;
  top: 3px;
  left: 0;
  content: '';
  background-image: url(../images/rounded-right.svg);
  width: 25px;
  height: 25px;
  top: 1px;
}
.profile-modal-right .btn-wrap button {
  letter-spacing: -0.41px;
  margin: 5px 0;
}
.profile-modal-right-content {
  max-width: 327px;
  margin: 0 auto;
}
.profile-modal-right-content .media-body p {
  margin-top: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.36px;
  color: #000000;
}
.profile-modal-right-content h5 {
  font-size: 14px;
}
.desktop-modal-img {
  display: block;
}
.mobile-modal-img {
  display: none;
}
.close-icon-mobile-profile {
  display: none;
}

@media (max-width: 1400px) {
  .home-right-wrap img {
    max-width: 250px;
  }
}

@media (max-width: 1440px) and (min-width: 768px) {
  .registration-section .user-pic {
    width: 80px;
    height: 80px;
  }
  .registration-section .user-pic img {
    max-width: 30px;
  }
  .registration-section .input-wrap .custom-btn {
    margin-top: 25px;
    height: 45px;
  }
  .registration-section .signup-wrap label {
    margin: 7px 0 0;
  }
  .registration-section .signup-wrap .gender label {
    margin-top: 0;
  }
  .otp-verify-section .home-left-wrap {
    margin-right: 176px;
  }
}

@media (max-width: 1199px) and (min-width: 768px) {
  .home-left-wrap {
    margin-right: 150px;
  }
  h1 {
    font-size: 30px;
    line-height: 40px;
  }
  .signup-wrap input[type='email'] {
    height: 40px;
    font-size: 16px;
  }
  .custom-btn {
    margin-bottom: 5px;
  }
  .home-left-wrap {
    margin-left: 40px;
  }
  .home-right-wrap {
    width: 40%;
    margin-left: auto;
  }
  .otp-verify-section .home-left-wrap {
    margin-right: 155px;
    max-width: 320px;
    margin-left: 40px;
  }
  .otp-verify-section input[type='number'] {
    width: 38px;
    height: 38px;
  }
  .forgot-password-section .home-left-wrap {
    max-width: 300px;
    margin-right: 148px;
  }
  .home-left-wrap p {
    font-size: 16px;
    line-height: 22px;
  }
  section.home-section.login-section.registration-section input {
    height: 42px;
  }
  .form-group input,
  .form-group select,
  .form-group textarea {
    width: 80%;
  }
  .form-group label {
    width: 20%;
  }
  .form-group.gender-group label {
    width: 74px;
  }
  .options p {
    font-size: 14px;
  }
  .media.options .custom-btn {
    font-style: normal;
    font-size: 12px;
    width: 86px;
  }
  .card-wrap {
    margin-left: 5px;
  }
  .profile-details p {
    font-size: 18px;
  }
  .feed-header {
    left: 0;
  }
  .feed-wrap.profile-section .upload-pic-wrap .user-pic {
    height: 95px;
    width: 95px;
  }
  .user-name-wrap h2 {
    font-size: 14px;
    line-height: 15px;
  }
  .followers-following-wrap h3 {
    font-size: 15px;
    margin-bottom: 0;
  }
  .followers-following-wrap span {
    font-size: 10px;
    padding-left: 5px;
  }
  .user-strength {
    width: 70%;
  }
  .profile-modal {
    max-width: 700px;
  }
  .profile-modal-right {
    padding: 20px;
  }
  .profile-modal-right ul {
    margin: 15px 0 15px;
  }
  .profile-modal-right .btn-wrap button {
    min-width: 280px;
  }
  .profile-modal-right-content {
    max-width: 285px;
  }
}

@media (max-width: 767px) {
  .sm-d-none {
    display: none !important;
  }
  .home-right-wrap {
    display: none;
  }
  .home-left-wrap {
    margin-left: 20px;
    margin: 0 auto;
  }
  .login-section .logo-wrap img {
    display: none;
  }
  .registration-section {
    height: 100%;
    overflow-x: hidden;
    padding: 40px 0;
  }
  .otp-verify-section .home-left-wrap {
    margin-left: 25px;
  }
  .otp-verify-section input[type='number'] {
    width: 45px;
    height: 55px;
  }
  .otp-verify-section .home-left-wrap {
    max-width: 330px;
    margin: 0 auto;
  }
  .forgot-password-section .home-left-wrap {
    max-width: 330px;
    margin: 0 auto;
  }

  /*feed-page*/
  .feed-header {
    height: 60px;
  }
  .feed-right {
    width: 40%;
    display: none;
  }
  .feed-left {
    width: 100%;
    border: 0;
  }
  .artical-full-wrap {
    border-top: 1px solid rgba(0, 0, 0, 0);
  }
  .artical-body > img {
    height: 375px;
    object-fit: cover;
  }
  .btn-lock-wrap img {
    margin: 0 auto 55px;
  }
  .artical-body .btn-lock-wrap {
    bottom: 34px;
  }
  .lock-comment {
    display: block;
    margin-top: 10px;
  }
  li.artical-wrap {
    box-shadow: none;
  }
  .mobile-footer {
    display: block;
    width: 100%;
    padding: 17px 22px;
    box-shadow: 0px -1px 1px rgba(201, 205, 211, 0.5);
    position: fixed;
    bottom: 0;
    background: #fff;
  }
  .mobile-footer li.active {
    color: #5458f7;
  }
  .mobile-footer li {
    position: relative;
    font-size: 11px;
    line-height: 13px;
    text-align: center;
    letter-spacing: 0.07px;
    color: #8991a0;
  }
  .mobile-footer ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .mobile-footer li span {
    margin-top: 5px;
    display: block;
    font-weight: 400;
  }
  .mobile-footer li img {
    margin: 0 auto;
  }
  .user-avtar-full-wrap.top-rebellions {
    background: #f3f5f8;
    display: block;
    padding: 0;
    padding-bottom: 228px;
    box-shadow: none;
  }
  .top-rebellions-wrap {
    background-color: #fff;
    padding: 15px 0;
    box-shadow: 0px -1px 1px rgba(201, 205, 211, 0.5);
    border-top: 7px solid #f1f1f1;
  }
  .top-rebellions-wrap .slide > div {
    height: 64px;
    width: 64px;
    border: 0px;
  }
  .top-rebellions-wrap .slide > div img {
    border: 0;
  }

  /*setting*/
  .cross-icon {
    display: inline-block;
  }
  .header-logo {
    display: none;
  }
  .plus-icon {
    display: none;
  }
  .slide .plus-icon {
    display: inline-block;
  }
  .media.profile-details {
    padding-top: 10px;
  }
  .card-wrap {
    margin-left: 5px;
  }
  .media.profile-details .media-body {
    padding-left: 5px;
  }

  .feed-header-menu li.save-icon {
    display: inline-block;
  }
  .cover-pic-wrap .ex-btn {
    display: none;
  }
  .upload-pic-wrap .user-pic {
    width: 72px;
    height: 72px;
    margin-top: -40px;
  }
  .upload-pic-wrap {
    margin-bottom: 30px;
  }
  .cover-img {
    height: 180px;
  }
  .form-group.flex-column-wrap {
    margin-top: 0;
    padding-top: 15px;
  }
  .feed-header.second-header .feed-header-menu li {
    padding: 0;
    max-width: 100%;
  }
  .feed-header.second-header .feed-header-menu li.save-icon {
    color: #187bcd;
    display: inline-block;
    font-weight: 600;
    font-size: 17px;
    line-height: 22px;
    text-transform: capitalize;
  }
  .feed-header.second-header .feed-header-menu {
    max-width: 100%;
  }
  /*-----------------------profile-section-----------------------------*/
  .desk-view {
    display: none;
  }
  .location-content-wrap {
    margin: 5px 15px 0px;
  }
  .profile-section .cover-pic-wrap .ex-btn {
    display: block;
  }
  .feed-wrap.profile-section .upload-pic-wrap .user-pic {
    height: 80px;
    width: 80px;
  }
  .profile-section .upload-pic-wrap .user-pic {
    margin-top: -25px;
  }
  .feed-wrap.profile-section {
    padding-top: 60px;
  }
  .feed-wrap.profile-section {
    padding-top: 0;
  }
  .back-btn-wrap {
    display: inline-flex;
  }
  .feed-wrap.profile-section .cover-img {
    background-image: url(../images/profile-mobile.jpg);
    height: 200px;
  }
  .user-name-wrap span {
    color: #7c8494;
  }
  .comment-follow-wrap button.ex-btn {
    margin-left: 5px;
    min-width: 104px;
    margin-bottom: 0;
  }
  .profile-section .upload-pic-wrap {
    margin-bottom: 15px;
  }
  .cover-pic-wrap .upload-pic-wrap .ex-btn {
    margin-top: 0;
  }
  .followers-following-wrap.mobile-view {
    display: inline-flex;
    margin-top: 15px;
  }
  .followers-following-wrap.mobile-view h3 {
    color: #000;
  }
  .followers-following-wrap.mobile-view span {
    color: #000;
    padding-left: 0;
    margin-right: 15px;
  }
  .follower,
  .following {
    display: inline-flex;
  }
  .followers-following-wrap.mobile-view h3 {
    font-size: 15px;
  }
  .location-link-wrap a img {
    padding-left: 0;
  }
  .followers-following-wrap span {
    text-transform: capitalize;
    padding-left: 4px;
  }
  .followers-following-wrap.mobile-view span {
    padding-left: 5px;
  }
  .tabing.mobile-tab {
    display: block;
    width: 100%;
  }
  .profile-modal-right ul {
    margin: 40px 0 25px;
  }
  .modal-part {
    width: 100%;
  }
  .profile-modal {
    max-width: 351px;
  }
  .profile-modal-right-content {
    margin-top: -80px;
  }
  .profile-modal-right-content .media-body p {
    color: #fff;
    margin-bottom: 0;
  }
  .profile-modal-right-content .media-body h5 {
    margin: 3px 0;
    color: #fff;
  }
  .profile-modal-right {
    padding: 10px;
  }
  .profile-modal-left.modal-part img {
    height: 200px;
    width: 100%;
  }
  .mobile-modal-img {
    display: block;
  }
  .desktop-modal-img {
    display: none;
  }
  .close-icon-mobile-profile {
    display: block;
  }
  .profile-modal {
    top: 55%;
  }
  body.open-modal:before {
    background-color: rgba(255, 255, 255, 0.6);
  }
  .bookmark-section .tabing.mobile-tab {
    padding: 5px 15px 0px;
    box-shadow: 0px 0.5px 0px rgba(0, 0, 0, 0.117216);
  }
  .bookmark-section .commants-wrap {
    margin-top: 0;
  }
}
.announcement-modal .modal-content {
  background: #fff;
  border: 24px solid #187bcd60;
  padding: 0px 20px;
  border-radius: 0;
}
.announcement {
  &__title {
    text-align: center;
    display: block;
    width: 100%;
    font-size: 20px;
    font-weight: bold;
  }
  &__image {
    &__img {
      width: 100%;
      max-height: 200px;
      object-fit: none;
      background-color: #f0f3fb;
    }
  }
  &__header {
    .close {
      color: #fff;
      background: #187bcd;
      opacity: 1;
      width: 48px;
      height: 48px;
      border-radius: 0;
      position: absolute;
      right: -8px;
      top: -8px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.dark-mode {
  .react-google-flight-datepicker {
    .date-picker {
      color: #808095 !important;
      background: #141d26 !important;
    }
  }
}
